workflow_SWING_patched_20260312_name_encoding_fix.json
{
  "name": "workflow_SWING_STOCKSKILLS_20260308_154534",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/10 9-15 * * 1-5"
            }
          ]
        }
      },
      "id": "152cb62e-a3d4-470c-a6fd-ec973b33245c",
      "name": "Scalping Trigger (10분)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        5312,
        1856
      ],
      "disabled": true
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "1cc07cb0-baad-4e23-b9ad-52327eae2362",
      "name": "Daily Healthcheck Trigger (09:00)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        5472,
        1648
      ]
    },
    {
      "parameters": {
        "functionCode": "const run = async function () {\n  const BOT = '8366696724:AAHROcjGoQEn9BziD-sYdAu3ZuaolwtkgLE';\n  const CHAT = '523002062';\n  const http = async (o) => await this.helpers.httpRequest(Object.assign({ timeout: 30000 }, o));\n\n  const now = new Date();\n  const kst = new Date(now.getTime() + 9*60*60*1000);\n  const today = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth()+1).padStart(2,'0')}-${String(kst.getUTCDate()).padStart(2,'0')}`;\n  const timeKst = `${String(kst.getUTCHours()).padStart(2,'0')}:${String(kst.getUTCMinutes()).padStart(2,'0')}`;\n  const HOLIDAYS_2026 = ['2026-01-01','2026-02-16','2026-02-17','2026-02-18','2026-03-01','2026-03-02','2026-05-05','2026-05-24','2026-05-25','2026-06-03','2026-06-06','2026-08-15','2026-08-17','2026-09-24','2026-09-25','2026-09-26','2026-10-03','2026-10-05','2026-10-09','2026-12-25'];\n  if (HOLIDAYS_2026.includes(today)) {\n    return [{ json: { skipped: true, reason: 'Holiday (KRX closed)', today, timeKst } }];\n  }\n\n  const store = this.getWorkflowStaticData('global');\n  if (!store.healthcheck) store.healthcheck = {};\n  if (store.healthcheck.lastSentDate === today) {\n    return [{ json: { skipped: true, reason: 'Already sent today', today, timeKst } }];\n  }\n\n  // () KRX        // (KRX live probe disabled) - KRX /  400    live   .\n  // ,  KRX  /  .  // (KRX live probe disabled) - KRX /  400    live   .\n  // ,  KRX  /  .\n  let krxStatus = '미확인';\n  let krxCount = 0;\n  try {\n    const store = this.getWorkflowStaticData('global');\n    const trdDd = `${kst.getUTCFullYear()}${String(kst.getUTCMonth()+1).padStart(2,'0')}${String(kst.getUTCDate()).padStart(2,'0')}`;\n    const cache = store && store.krxUniverseCache;\n    const st = store && store.krxState;\n\n    const nowMs = now.getTime();\n    const circuitUntil = st && st.circuitUntil ? new Date(st.circuitUntil).getTime() : 0;\n    const circuitActive = !!(circuitUntil && circuitUntil > nowMs && st && st.circuitDate === today);\n\n    if (circuitActive) {\n      krxStatus = `서킷 활성(circuitUntil=${st.circuitUntil})`;\n    } else if (cache && cache.trdDd === trdDd && Array.isArray(cache.rows) && cache.rows.length) {\n      krxCount = cache.rows.length;\n      krxStatus = `캐시 OK (${krxCount}개)`;\n    } else if (cache && Array.isArray(cache.rows) && cache.rows.length) {\n      krxCount = cache.rows.length;\n      krxStatus = `캐시(최근) ${krxCount}개 (trdDd=${cache.trdDd || 'unknown'})`;\n    } else {\n      krxStatus = '캐시 없음 (live probe 비활성)';\n    }\n  } catch (e) {\n    krxStatus = '상태확인 실패: ' + String(e && e.message ? e.message : e);\n  }\n\n  const msg = `✅ [헬스체크] Autostock 스케줄러 정상\\n- KST: ${today} ${timeKst}\\n- KRX: ${krxStatus}`;\n\n  try {\n    await http({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot' + BOT + '/sendMessage',\n      json: true,\n      body: { chat_id: CHAT, text: msg }\n    });\n  } catch (e) {\n    return [{ json: { ok: false, error: String(e && e.message ? e.message : e), today, timeKst, krxStatus, krxCount } }];\n  }\n\n  store.healthcheck.lastSentDate = today;\n  store.healthcheck.lastSentAt = now.toISOString();\n  store.healthcheck.lastKrxStatus = krxStatus;\n  store.healthcheck.lastKrxCount = krxCount;\n\n  return [{ json: { ok: true, today, timeKst, krxStatus, krxCount } }];\n};\nreturn run();"
      },
      "id": "982e02ec-2f17-4b1b-93eb-be2f85dd1709",
      "name": "Daily Healthcheck",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5776,
        1648
      ]
    },
    {
      "parameters": {
        "functionCode": "const run = async function () {\n  const BOT = '8366696724:AAHROcjGoQEn9BziD-sYdAu3ZuaolwtkgLE';\n  const CHAT = '523002062';\n\n  const MIN_PRICE = 1000;\n  const MIN_INTRADAY_TURNOVER = 1000000000; // 10억\n  const MIN_SCORE = 70;\n  const RELAX_SCORE = 65;\n  const MIN_DAILY_PICKS = 3;\n  const MAX_INTRADAY_SENDS = 6;\n\n  const HOLIDAYS = ['2025-01-01','2025-01-28','2025-01-29','2025-01-30','2025-03-01','2025-03-03','2025-05-05','2025-05-06','2025-06-06','2025-08-15','2025-10-03','2025-10-06','2025-10-07','2025-10-08','2025-10-09','2025-12-25','2026-01-01','2026-02-16','2026-02-17','2026-02-18','2026-03-01','2026-03-02','2026-05-05','2026-05-24','2026-05-25','2026-06-03','2026-06-06','2026-07-17','2026-08-15','2026-08-17','2026-09-24','2026-09-25','2026-09-26','2026-10-03','2026-10-05','2026-10-09','2026-12-25'];\n\n  const DUPLICATE_WINDOW_MINUTES = 60;\n  const STOP_NEW_ALERTS_HOUR = 15;\n  const STOP_NEW_ALERTS_MINUTE = 20;\n\n  const http = async (o) => await this.helpers.httpRequest(Object.assign({ timeout: 30000 }, o));\n\n  const sma = (arr, w) => {\n    const out = new Array(arr.length).fill(NaN);\n    if (arr.length < w) return out;\n    let sum = 0;\n    for (let i=0;i<arr.length;i++){\n      const v = Number(arr[i]);\n      sum += (Number.isFinite(v) ? v : 0);\n      if (i >= w) {\n        const old = Number(arr[i-w]);\n        sum -= (Number.isFinite(old) ? old : 0);\n      }\n      if (i >= w-1) out[i] = sum / w;\n    }\n    return out;\n  };\n\n  const calcAtrAbs = (highD, lowD, idx, w) => {\n    const i = Math.max(0, Math.min(idx, highD.length - 1));\n    const start = Math.max(0, i - w);\n    const seg = [];\n    for (let k=start; k<i; k++) {\n      const hi = Number(highD[k]);\n      const lo = Number(lowD[k]);\n      if (Number.isFinite(hi) && Number.isFinite(lo)) seg.push(Math.max(0, hi - lo));\n    }\n    if (!seg.length) return NaN;\n    const s = seg.reduce((a,b)=>a+b,0);\n    return s / seg.length;\n  };\n\n  const calcQty = (accountKrw, riskPct, entry, stop) => {\n    const acct = Number(accountKrw) || 0;\n    const rp = Number(riskPct) || 0;\n    const e = Number(entry) || 0;\n    const s = Number(stop) || 0;\n    const perShareRisk = e - s;\n    if (!(acct > 0 && rp > 0 && e > 0 && perShareRisk > 0)) return 0;\n    const riskAmt = acct * rp;\n    const q = Math.floor(riskAmt / perShareRisk);\n    return Math.max(0, Math.min(q, 100000));\n  };\n\n  const fetchDailyClose = async (encodedTicker) => { return []; };\n\n  const getMarketRegime = async (store, today) => {\n    // cache per day\n    if (!store.regimeCache) store.regimeCache = {};\n    if (store.regimeCache.date === today && store.regimeCache.riskOn !== undefined) return store.regimeCache;\n    let riskOn = true;\n    let ks = null;\n    let kq = null;\n    try {\n      const [ksClose, kqClose] = await Promise.all([fetchDailyClose('%5EKS11'), fetchDailyClose('%5EKQ11')]);\n      const ks20 = sma(ksClose, 20); const ks60 = sma(ksClose, 60);\n      const kq20 = sma(kqClose, 20); const kq60 = sma(kqClose, 60);\n      const iKs = ksClose.length - 1; const iKq = kqClose.length - 1;\n      ks = (Number.isFinite(ks20[iKs]) && Number.isFinite(ks60[iKs])) ? (ks20[iKs] > ks60[iKs]) : null;\n      kq = (Number.isFinite(kq20[iKq]) && Number.isFinite(kq60[iKq])) ? (kq20[iKq] > kq60[iKq]) : null;\n      // 둘 중 하나라도 명확히 하락 추세면 riskOff\n      if (ks === false || kq === false) riskOn = false;\n    } catch (e) {\n      // 실패 시에는 추천을 멈추지 않기 위해 riskOn으로 둠\n      riskOn = true;\n    }\n    store.regimeCache = { date: today, riskOn, ksUp: ks, kqUp: kq, at: new Date().toISOString() };\n    return store.regimeCache;\n  };\n  const input = (items && items[0] && items[0].json) || {};\n  const forceTest = !!input.forceTest;\n  const debugMode = !!input.debugMode;\n\n  const now = new Date();\n  const kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n  const today = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth() + 1).padStart(2, '0')}-${String(kst.getUTCDate()).padStart(2, '0')}`;\n  const timeStrNow = String(kst.getUTCHours()).padStart(2, '0') + ':' + String(kst.getUTCMinutes()).padStart(2, '0');\n\n  const NL = String.fromCharCode(10);\n  const esc = (s) => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n  const to0 = (n) => Math.round(Number(n) || 0).toLocaleString('ko-KR');\n  const pct = (r) => ((r * 100).toFixed(1) + '%');\n  const normalize = (s) => String(s || '').trim();\n  const getCode = (sym) => {\n    const v = String(sym);\n    if (v.endsWith('.KS') || v.endsWith('.KQ')) return v.slice(0, -3);\n    return v;\n  };\n\n  // ===== staticData + blacklist cache =====\n  const store = this.getWorkflowStaticData('global');\n  if (!store.scalpingMeta) store.scalpingMeta = {};\n  store.scalpingMeta.lastRunAt = now.toISOString();\n  store.scalpingMeta.lastRunDate = today;\n  if (!store.scalpingSent) store.scalpingSent = {};\n  if (!store.weeklyRecommendations) store.weeklyRecommendations = {};\n  if (!store.weeklyRecommendations[today]) store.weeklyRecommendations[today] = [];\n\n  const bl = store.blacklist || {};\n  const riskSet = new Set((bl.riskCodes || []).map(String));\n  const themeFilterMode = String(bl.themeFilterMode || 'off').toLowerCase();\n  const themeSet = (themeFilterMode === 'off') ? new Set() : new Set((bl.themeCodes || []).map(String));\n  const riskCacheAt = bl.riskUpdatedAt || null;\n  const themeCacheAt = bl.themeUpdatedAt || null;\n  let excludedRisk = 0;\n  let excludedTheme = 0;\n\n  // [TEST MODE] - 휴장/시간과 무관하게 텔레그램 발송만 확인\n  if (forceTest) {\n    const msg =\n      '⚡ [단타 스캔 테스트] 시스템 정상' + NL +\n      `- KST: ${today} ${timeStrNow}` + NL +\n      `- riskCodes: ${(bl.riskCodes || []).length} (updatedAt=${riskCacheAt || 'null'})` + NL +\n      `- themeCodes: ${(bl.themeCodes || []).length} (updatedAt=${themeCacheAt || 'null'})`;\n    try {\n      const res = await http({\n        method: 'POST',\n        url: 'https://api.telegram.org/bot' + BOT + '/sendMessage',\n        json: true,\n        body: { chat_id: CHAT, text: msg },\n      });\n      return [{ json: { testSent: true, telegramResponse: res } }];\n    } catch (e) {\n      return [{ json: { testSent: false, error: e?.message || String(e), stack: e?.stack } }];\n    }\n  }\n\n  // ===== 장/휴장 체크 =====\n  const d = kst.getUTCDay();\n  const h = kst.getUTCHours();\n  const m = kst.getUTCMinutes();\n\n  if (!(d >= 1 && d <= 5)) return [{ json: { skipped: true, reason: 'Weekend' } }];\n  if (HOLIDAYS.includes(today)) return [{ json: { skipped: true, reason: 'Holiday (KRX closed)' } }];\n\n  if (h < 9) return [{ json: { skipped: true, reason: 'Before market open' } }];\n  if (h === 9 && m < 30) return [{ json: { skipped: true, reason: 'Too early - Naver API data not ready before 09:30' } }];\n  if (h >= 16) return [{ json: { skipped: true, reason: 'After market close' } }];\n  if (h > STOP_NEW_ALERTS_HOUR || (h === STOP_NEW_ALERTS_HOUR && m >= STOP_NEW_ALERTS_MINUTE)) {\n    return [{ json: { skipped: true, reason: 'Too close to market close' } }];\n  }\n\n  // [PERF] Queue 적체 방지: 직전 실행 완료 후 90초 이내면 skip\n  if (store.scalpingMeta._lastFullFinish && (Date.now() - store.scalpingMeta._lastFullFinish) < 90000) {\n    return [{ json: { skipped: true, reason: 'Queue backed up - fast drain' } }];\n  }\n\n  // ===== 중복 방지(최근 60분) =====\n  const cutoff = now.getTime() - DUPLICATE_WINDOW_MINUTES * 60 * 1000;\n  for (const t in store.scalpingSent) {\n    if (store.scalpingSent[t] < cutoff) delete store.scalpingSent[t];\n  }\n\n  // ===== KRX 유니버스 로드(안정화: cache-first + 회피 + naver fallback) =====\n  // 목적: KRX 400/차단이 떠도 알림이 멈추지 않도록, live 호출을 최소화하고(하루 1회 캐시) 실패 시 네이버로 폴백합니다.\n  let rows = [];\n  let krxUniverseSource = 'live';\n  let krxUniverseError = null;\n\n  const trdDd = `${kst.getUTCFullYear()}${String(kst.getUTCMonth() + 1).padStart(2, '0')}${String(kst.getUTCDate()).padStart(2, '0')}`;\n\n  // --- simple circuit breaker in workflow staticData ---\n  if (!store.krxState) store.krxState = {};\n  const ks = store.krxState;\n  const nowMs = now.getTime();\n  const circuitUntilMs = ks.circuitUntil ? new Date(ks.circuitUntil).getTime() : 0;\n  // Auto-reset circuit at first scan (09:10) to ensure fresh start\n  const isFirstScan = (h === 9 && m >= 10 && m < 15);\n  const circuitActive = !!(circuitUntilMs && circuitUntilMs > nowMs && ks.circuitDate === today && !isFirstScan);\n  if (isFirstScan && ks.circuitUntil) {\n    // Reset circuit breaker at first scan of the day\n    delete ks.circuitUntil;\n    delete ks.circuitDate;\n  }\n\n  const openCircuit = (reason) => {\n    const until = new Date(nowMs + 15 * 60 * 1000).toISOString();\n    ks.circuitDate = today;\n    ks.circuitUntil = until;\n    ks.lastFailAt = new Date(nowMs).toISOString();\n    ks.lastFailReason = String(reason || 'unknown');\n  };\n\n  // --- cache-first: if we already have today's universe, don't hit KRX again ---\n  // --- Naver-based universe loading (replaces KRX API) ---\n  if (store.krxUniverseCache && store.krxUniverseCache.trdDd === trdDd && Array.isArray(store.krxUniverseCache.rows) && store.krxUniverseCache.rows.length) {\n    rows = store.krxUniverseCache.rows;\n    krxUniverseSource = 'cache';\n  } else {\n    // Fetch full stock list from Naver Finance (all KOSPI + KOSDAQ stocks)\n    krxUniverseSource = 'naver';\n\n    const fetchText = async (url) => {\n      const raw = await http({\n        method: 'GET',\n        url,\n        headers: { \n          'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36', \n          'Referer': 'https://finance.naver.com/',\n          'Accept': 'text/html',\n          'Accept-Charset': 'utf-8'\n        },\n        json: false,\n        encoding: 'utf8'\n      });\n      if (Buffer.isBuffer(raw)) return raw.toString('utf8');\n      return String(raw ?? '');\n    };\n\n    const extractCodeNamePairs = (html) => {\n      const out = [];\n      const re = new RegExp('/item/main\\\\.naver\\\\?code=(\\\\d{6})[^>]*>([^<]{1,60})<', 'g');\n      let m;\n      while ((m = re.exec(html))) {\n        out.push([m[1], String(m[2] || '').trim()]);\n      }\n      return out;\n    };\n\n    const codeSet = new Set();\n    const naverRows = [];\n    const MAX_PAGES = 50; // Fetch all pages to get complete list\n\n    const fetchAllFromMarket = async (sosok, mktNm) => {\n      for (let p = 1; p <= MAX_PAGES; p++) {\n        try {\n          const url = `https://finance.naver.com/sise/sise_market_sum.naver?sosok=${sosok}&page=${p}`;\n          const html = await fetchText(url);\n          const pairs = extractCodeNamePairs(html);\n          \n          if (!pairs || pairs.length === 0) {\n            break; // No more pages\n          }\n          \n          let newStocks = 0;\n          for (const [c, nm] of pairs) {\n            if (!c || codeSet.has(c)) continue;\n            codeSet.add(c);\n            naverRows.push({\n              ISU_SRT_CD: c,\n              ISU_ABBRV: nm || c,\n              ISU_NM: nm || c,\n              MKT_NM: mktNm,\n              TDD_CLSPRC: String(MIN_PRICE),\n              ACC_TRDVAL: String(MIN_INTRADAY_TURNOVER),\n            });\n            newStocks++;\n          }\n          \n          if (newStocks === 0) {\n            break; // No new stocks, end of list\n          }\n          \n          await new Promise((r) => setTimeout(r, 100 + Math.floor(Math.random() * 50)));\n        } catch (e) {\n          // Page error, continue to next\n          await new Promise((r) => setTimeout(r, 500));\n        }\n      }\n    };\n\n    try {\n      await fetchAllFromMarket(0, 'KOSPI');\n      await fetchAllFromMarket(1, 'KOSDAQ');\n      rows = naverRows;\n      \n      if (rows.length > 0) {\n        krxUniverseSource = 'naver';\n        // Cache the full universe for the day\n        store.krxUniverseCache = {\n          trdDd,\n          fetchedAt: new Date(nowMs).toISOString(),\n          source: 'naver',\n          rows: rows.slice(0, 4500).map((x) => ({\n            ISU_SRT_CD: String(x?.ISU_SRT_CD || ''),\n            ISU_ABBRV: String(x?.ISU_ABBRV || ''),\n            ISU_NM: String(x?.ISU_NM || ''),\n            MKT_NM: String(x?.MKT_NM || ''),\n            TDD_CLSPRC: String(x?.TDD_CLSPRC || '0'),\n            ACC_TRDVAL: String(x?.ACC_TRDVAL || '0'),\n          })),\n        };\n      } else {\n        krxUniverseError = 'Naver returned 0 rows';\n      }\n    } catch (e) {\n      krxUniverseError = String(e?.message || e);\n    }\n  }\n\n  \n  const NAME = {};\n  const ALL_TICKERS = [];\n  const SEEN_CODES = new Set();\n\n  for (const row of rows) {\n    const rc = normalize(String(row?.ISU_SRT_CD || ''));\n    const nm = String(row?.ISU_ABBRV || row?.ISU_NM || '').trim();\n    const mkt = String(row?.MKT_NM || '').toLowerCase();\n\n    if (!rc || !nm) continue;\n    if (SEEN_CODES.has(rc)) continue;\n    SEEN_CODES.add(rc);\n\n    if (mkt.includes('konex') || mkt.includes('코넥스')) continue;\n\n    // 선제 제외: 리스크/테마\n    if (riskSet.has(rc)) { excludedRisk++; continue; }\n    if (themeSet.has(rc)) { excludedTheme++; continue; }\n\n    const price = Number(String(row?.TDD_CLSPRC || '0').replace(/,/g, ''));\n    const turnover = Number(String(row?.ACC_TRDVAL || '0').replace(/,/g, ''));\n\n    if (price < MIN_PRICE) continue;\n    if (turnover < MIN_INTRADAY_TURNOVER) continue;\n\n    NAME[rc] = nm;\n\n    let suffix = '.KS';\n    if (mkt.includes('kosdaq') || mkt.includes('코스닥')) suffix = '.KQ';\n    ALL_TICKERS.push(rc + suffix);\n  }\n\n  if (ALL_TICKERS.length === 0) {\n    // 추천 종목이 0개여도 '안내 알림'은 하루 1회 꼭 보내기 (스팸 방지)\n    if (!store.scalpingAlerts) store.scalpingAlerts = {};\n    if (store.scalpingAlerts.universeEmptyDate !== today) {\n      const msg =\n        '⚠️ [단타] 추천 후보 생성 불가(유니버스 0개)' + NL +\n        `- KST: ${today} ${timeStrNow}` + NL +\n        `- KRX source: ${krxUniverseSource}` + NL +\n        `- KRX error: ${krxUniverseError || 'none'}` + NL +\n        `- circuit: ${circuitActive ? 'YES (until ' + ks.circuitUntil + ')' : 'no'}` + NL +\n        `- rows loaded: ${rows.length}` + NL +\n        `- 제외(리스크): ${excludedRisk}` + NL +\n        `- 제외(테마): ${excludedTheme}` + NL +\n        `- riskCacheAt: ${riskCacheAt || 'null'}` + NL +\n        `- themeCacheAt: ${themeCacheAt || 'null'}`;\n      try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n      store.scalpingAlerts.universeEmptyDate = today;\n    }\n    if (debugMode) {\n      const msg =\n        '🔍 [단타 디버그] 유니버스 0개' + NL +\n        `- 제외(리스크): ${excludedRisk}` + NL +\n        `- 제외(테마): ${excludedTheme}` + NL +\n        `- riskCacheAt: ${riskCacheAt || 'null'}` + NL +\n        `- themeCacheAt: ${themeCacheAt || 'null'}` + NL +\n        `- KST: ${today} ${timeStrNow}`;\n      try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n    }\n    return [{ json: { ok: false, reason: 'universe_empty', excludedRisk, excludedTheme, riskCacheAt, themeCacheAt } }];\n  }\n\n  // ===== Technical Indicators =====\n\n  const rsi14 = (close) => {\n    const p = 14;\n    const out = new Array(close.length).fill(NaN);\n    if (close.length < p + 1) return out;\n    const up = [];\n    const dn = [];\n    for (let i = 1; i < close.length; i++) {\n      const d = close[i] - close[i - 1];\n      up.push(Math.max(d, 0));\n      dn.push(Math.max(-d, 0));\n    }\n    const smaN = (a, w) => {\n      const o = new Array(a.length).fill(NaN);\n      if (a.length < w) return o;\n      let sum = 0;\n      for (let i = 0; i < a.length; i++) {\n        sum += a[i];\n        if (i >= w) sum -= a[i - w];\n        if (i >= w - 1) o[i] = sum / w;\n      }\n      return o;\n    };\n    const au = smaN([0].concat(up), p);\n    const ad = smaN([0].concat(dn), p);\n    for (let i = 0; i < close.length; i++) {\n      if (!Number.isFinite(au[i]) || !Number.isFinite(ad[i])) continue;\n      const rs = ad[i] === 0 ? 999 : au[i] / ad[i];\n      out[i] = 100 - 100 / (1 + rs);\n    }\n    return out;\n  };\n\n  // ===== EMA calculation for MACD =====\n  const ema = (arr, period) => {\n    const out = new Array(arr.length).fill(NaN);\n    if (arr.length < period) return out;\n    const k = 2 / (period + 1);\n    let emaVal = arr.slice(0, period).reduce((a, b) => a + Number(b || 0), 0) / period;\n    out[period - 1] = emaVal;\n    for (let i = period; i < arr.length; i++) {\n      const val = Number(arr[i]);\n      if (Number.isFinite(val)) {\n        emaVal = val * k + emaVal * (1 - k);\n        out[i] = emaVal;\n      } else {\n        out[i] = emaVal;\n      }\n    }\n    return out;\n  };\n\n  // ===== MACD calculation =====\n  const calculateMACD = (close, fastPeriod = 12, slowPeriod = 26, signalPeriod = 9) => {\n    const emaFast = ema(close, fastPeriod);\n    const emaSlow = ema(close, slowPeriod);\n    const macdLine = emaFast.map((fast, i) => {\n      const slow = emaSlow[i];\n      return (Number.isFinite(fast) && Number.isFinite(slow)) ? fast - slow : NaN;\n    });\n    const signalLine = ema(macdLine, signalPeriod);\n    const histogram = macdLine.map((macd, i) => {\n      const signal = signalLine[i];\n      return (Number.isFinite(macd) && Number.isFinite(signal)) ? macd - signal : NaN;\n    });\n    return { macdLine, signalLine, histogram };\n  };\n\n  // ===== OBV (On-Balance Volume) calculation =====\n  const calculateOBV = (close, volume) => {\n    const obv = new Array(close.length).fill(0);\n    if (close.length < 2) return obv;\n    obv[0] = Number(volume[0]) || 0;\n    for (let i = 1; i < close.length; i++) {\n      const c = Number(close[i]);\n      const cp = Number(close[i - 1]);\n      const v = Number(volume[i]) || 0;\n      if (Number.isFinite(c) && Number.isFinite(cp)) {\n        if (c > cp) {\n          obv[i] = obv[i - 1] + v;\n        } else if (c < cp) {\n          obv[i] = obv[i - 1] - v;\n        } else {\n          obv[i] = obv[i - 1];\n        }\n      } else {\n        obv[i] = obv[i - 1];\n      }\n    }\n    return obv;\n  };\n\n  // ===== Divergence detection =====\n  const detectBearishDivergence = (prices, indicator, lookback = 10) => {\n    if (prices.length < lookback + 2 || indicator.length < lookback + 2) return false;\n    const n = prices.length;\n    \n    // Find recent peaks in price (last 2 peaks within lookback period)\n    const pricePeaks = [];\n    for (let i = n - lookback; i < n - 1; i++) {\n      if (i <= 0) continue;\n      const curr = Number(prices[i]);\n      const prev = Number(prices[i - 1]);\n      const next = i + 1 < n ? Number(prices[i + 1]) : NaN;\n      if (Number.isFinite(curr) && Number.isFinite(prev) && Number.isFinite(next)) {\n        if (curr > prev && curr >= next) {\n          pricePeaks.push({ idx: i, val: curr });\n        }\n      }\n    }\n    \n    if (pricePeaks.length < 2) return false;\n    \n    // Check if price made higher high but indicator made lower high\n    const lastPricePeak = pricePeaks[pricePeaks.length - 1];\n    const prevPricePeak = pricePeaks[pricePeaks.length - 2];\n    \n    const lastIndicatorVal = Number(indicator[lastPricePeak.idx]);\n    const prevIndicatorVal = Number(indicator[prevPricePeak.idx]);\n    \n    if (!Number.isFinite(lastIndicatorVal) || !Number.isFinite(prevIndicatorVal)) return false;\n    \n    // Bearish divergence: price higher high + indicator lower high\n    const priceHigherHigh = lastPricePeak.val > prevPricePeak.val;\n    const indicatorLowerHigh = lastIndicatorVal < prevIndicatorVal;\n    \n    return priceHigherHigh && indicatorLowerHigh;\n  };\n\n  // ===== VWAP (Volume Weighted Average Price) calculation =====\n  const calculateVWAP = (prices, volumes) => {\n    if (!prices || !volumes || prices.length !== volumes.length) return [];\n    const vwap = new Array(prices.length).fill(NaN);\n    let cumulPV = 0;\n    let cumulV = 0;\n    \n    for (let i = 0; i < prices.length; i++) {\n      const p = Number(prices[i]);\n      const v = Number(volumes[i]);\n      if (Number.isFinite(p) && Number.isFinite(v) && v >= 0) {\n        cumulPV += p * v;\n        cumulV += v;\n        vwap[i] = cumulV > 0 ? cumulPV / cumulV : NaN;\n      } else if (i > 0) {\n        vwap[i] = vwap[i - 1];\n      }\n    }\n    return vwap;\n  };\n\n  // ===== HiTalk UP 모델(단타=급등) =====\n  const HITALK_UP_MODEL = {\n    name: 'SETUP_UP(단타=급등)',\n    feature_cols: [\n      'daily_change','uptrend','rsi14',\n      'breakout20','breakout_ratio','breakout60','breakout60_ratio',\n      'volume_surge','volume_surge5','volume_surge60','volume_trend_5_20',\n      'volatility','atr14','ret5','ret20',\n      'dist_sma20','dist_sma60','trend_strength','price'\n    ],\n    scaler: {\n      mean: [0.03941112323492713,0.5543478260869565,56.545286976615934,0.16897233201581027,0.9125539688024894,0.09387351778656126,0.8444209313001051,7.859869097035799,9.808710474152516,7.407255525593385,1.1741009201441042,0.09152603600351632,0.052841022855268954,0.06693993755172249,0.09917903036869001,0.06651846479725247,0.09049245314562593,0.007006514477785763,35568.01663811122],\n      scale: [0.08766529491393103,0.49703753761624325,16.889372083821293,0.3747274783478637,0.11615516943446853,0.2916526709031452,0.1404641448755363,28.625067611054348,36.39775002735151,24.425783867182986,0.8121668721832151,0.07127136375745106,0.02481501386636216,0.13977010898417583,0.24293659705155204,0.13241135669408638,0.19540197393809716,0.13715305283752963,95896.01749780211],\n    },\n    coef: [0.7562683117443777,0.3626442429601983,0.2795871935673176,0.11570148366611886,0.5328372190930989,-0.49562171518787235,-0.0133555000485831,-0.5147492810327007,0.935863691546091,-0.36162297177444197,-0.014914088687825148,1.0185496067021869,0.5814560310633664,0.7469841752968425,-0.5127443495874868,0.6227061707667483,-0.3418990371124205,0.25010246627460375,-1.104266379894277],\n    intercept: -0.6993095468699385,\n  };\n\n  const UP_THRESHOLD = 0.96;\n  const UP_THRESHOLD_RELAX = 0.83;\n  const UP_TARGET_RATE = 0.1055;\n  const UP_STOP_RATE = 0.055;\n\n  // ===== Risk/Regime Layer (conservative) =====\n  // Account and risk settings\n  const ACCOUNT_KRW = 10000000; // 10M KRW\n  const RISK_PCT_PER_TRADE = 0.005; // 0.5% per trade\n\n  // ATR-based stop/target settings\n  const ATR_WINDOW = 14;\n  const ATR_STOP_MULT = 1.7;\n  const ATR_TARGET_MULT = 2.4;\n  const CAP_STOP_PCT = 0.06;\n  const CAP_TARGET_PCT = 0.12;\n\n  // Market regime filter settings\n  const REGIME_RANGE = '6mo';\n  const REGIME_INTERVAL = '1d';\n  // ===== /Risk/Regime Layer =====\n\n  const sigmoid = (x) => 1 / (1 + Math.exp(-x));\n  const dot = (w, x) => {\n    let s = 0;\n    for (let i = 0; i < w.length; i++) s += w[i] * x[i];\n    return s;\n  };\n  const standardize = (model, featArr) => {\n    const mu = model.scaler.mean;\n    const sc = model.scaler.scale;\n    const x = new Array(featArr.length);\n    for (let i = 0; i < featArr.length; i++) x[i] = ((Number(featArr[i]) || 0) - (mu[i] || 0)) / ((sc[i] || 1) || 1);\n    return x;\n  };\n  const predictProb = (model, featArr) => {\n    const x = standardize(model, featArr);\n    const z = dot(model.coef, x) + (model.intercept || 0);\n    return sigmoid(z);\n  };\n\n  const featuresFromDaily = (closeD, highD, lowD, volD, idx) => {\n    const n = closeD.length;\n    const i = Math.max(0, Math.min(idx, n - 1));\n    const close = Number(closeD[i]);\n    const prev = i > 0 ? Number(closeD[i - 1]) : NaN;\n    const daily_change = (Number.isFinite(prev) && prev > 0 && close > 0) ? (close / prev - 1) : 0;\n\n    const sma20 = sma(closeD, 20);\n    const sma60 = sma(closeD, 60);\n    const uptrend = (Number.isFinite(sma20[i]) && Number.isFinite(sma60[i]) && sma20[i] > sma60[i]) ? 1 : 0;\n\n    const rsiArr = rsi14(closeD);\n    const rsi14v = Number.isFinite(rsiArr[i]) ? rsiArr[i] : 50;\n\n    const start20 = Math.max(0, i - 20);\n    const start60 = Math.max(0, i - 60);\n    const prev20 = (i - start20 >= 1) ? Math.max(...highD.slice(start20, i).map(Number)) : NaN;\n    const prev60 = (i - start60 >= 1) ? Math.max(...highD.slice(start60, i).map(Number)) : NaN;\n\n    const breakout20 = (Number.isFinite(prev20) && close > prev20) ? 1 : 0;\n    const breakout_ratio = (Number.isFinite(prev20) && prev20 > 0 && close > 0) ? (close / prev20) : 1;\n    const breakout60 = (Number.isFinite(prev60) && close > prev60) ? 1 : 0;\n    const breakout60_ratio = (Number.isFinite(prev60) && prev60 > 0 && close > 0) ? (close / prev60) : 1;\n\n    const v20 = volD.slice(start20, i).map(Number).filter(Number.isFinite);\n    const vavg20 = v20.length ? (v20.reduce((a, b) => a + b, 0) / v20.length) : NaN;\n    const vtoday = Number(volD[i]);\n\n    const volume_surge = (Number.isFinite(vavg20) && vavg20 > 0 && Number.isFinite(vtoday)) ? (vtoday / vavg20) : 1;\n\n    const v5 = volD.slice(Math.max(0, i - 5), i).map(Number).filter(Number.isFinite);\n    const v60 = volD.slice(start60, i).map(Number).filter(Number.isFinite);\n    const vavg5 = v5.length ? (v5.reduce((a, b) => a + b, 0) / v5.length) : NaN;\n    const vavg60 = v60.length ? (v60.reduce((a, b) => a + b, 0) / v60.length) : NaN;\n\n    const volume_surge5 = (Number.isFinite(vavg5) && vavg5 > 0 && Number.isFinite(vtoday)) ? (vtoday / vavg5) : 1;\n    const volume_surge60 = (Number.isFinite(vavg60) && vavg60 > 0 && Number.isFinite(vtoday)) ? (vtoday / vavg60) : 1;\n    const volume_trend_5_20 = (Number.isFinite(vavg5) && Number.isFinite(vavg20) && vavg20 > 0) ? (vavg5 / vavg20) : 1;\n\n    const hi = Number(highD[i]);\n    const lo = Number(lowD[i]);\n    const hl = (Number.isFinite(hi) && Number.isFinite(lo)) ? (hi - lo) : 0;\n    const volatility = (close > 0) ? (hl / close) : 0;\n\n    const retN = (n) => {\n      const j = i - n;\n      const cj = j >= 0 ? Number(closeD[j]) : NaN;\n      return (Number.isFinite(cj) && cj > 0 && close > 0) ? (close / cj - 1) : 0;\n    };\n    const ret5 = retN(5);\n    const ret20 = retN(20);\n\n    const dist_sma20 = (Number.isFinite(sma20[i]) && sma20[i] > 0 && close > 0) ? (close / sma20[i] - 1) : 0;\n    const dist_sma60 = (Number.isFinite(sma60[i]) && sma60[i] > 0 && close > 0) ? (close / sma60[i] - 1) : 0;\n    const trend_strength = (Number.isFinite(sma20[i]) && Number.isFinite(sma60[i]) && close > 0) ? ((sma20[i] - sma60[i]) / close) : 0;\n\n    const start14 = Math.max(0, i - 14);\n    const hl14 = highD.slice(start14, i).map((x, k) => Number(x) - Number(lowD[start14 + k]));\n    const hl14f = hl14.filter(Number.isFinite);\n    const atr14 = (hl14f.length && close > 0) ? ((hl14f.reduce((a, b) => a + b, 0) / hl14f.length) / close) : 0;\n\n    const price = close;\n\n    return {\n      daily_change, uptrend, rsi14: rsi14v,\n      breakout20, breakout_ratio, breakout60, breakout60_ratio,\n      volume_surge, volume_surge5, volume_surge60, volume_trend_5_20,\n      volatility, atr14, ret5, ret20, dist_sma20, dist_sma60, trend_strength, price\n    };\n  };\n\n  // ===== 스캔 =====\n\n  // ===== Debug counters (Yahoo) =====\n  let naverOkCount = 0;\n  let naverNoResultCount = 0;\n  let naverErrorCount = 0;\n  const naverErrorByStatus = {};\n  const naverErrorSamples = [];\n  const pickStatus = (e) => {\n    const s = e?.statusCode ?? e?.response?.statusCode ?? e?.response?.status ?? e?.httpCode ?? e?.cause?.statusCode;\n    const n = Number(s);\n    return Number.isFinite(n) ? n : null;\n  };\n  // ===== /Debug counters (Yahoo) =====\n\n  const sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n  const dayKey = new Date(Date.now() + 9 * 3600000).toISOString().slice(0, 10);\n  const naverCache = store.naverCache || (store.naverCache = { intra: {}, daily: {}, dayKey: null });\n  if (naverCache.dayKey !== dayKey) {\n    naverCache.intra = {};\n    naverCache.daily = {};\n    naverCache.dayKey = dayKey;\n  }\n  const getCached = (bucket, key, maxAgeMs) => {\n    const v = bucket[key];\n    if (!v) return null;\n    if (Date.now() - v.at > maxAgeMs) return null;\n    return v.data;\n  };\n  const setCached = (bucket, key, data) => {\n    bucket[key] = { at: Date.now(), data };\n  };\n\n  const fetchIntra = async (code, pageSize) => {\n    const url = `https://m.stock.naver.com/api/stock/${code}/price?pageSize=${pageSize}&page=1`;\n    return await http({\n      method: 'GET',\n      url,\n      json: true,\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n        'Referer': 'https://finance.naver.com/',\n        'Accept': 'application/json',\n        'Accept-Charset': 'utf-8',\n        'Accept-Language': 'ko-KR,ko;q=0.9,en;q=0.8'\n      },\n      encoding: 'utf8'\n    });\n  };\n\n  const httpIntra = async (t) => {\n    const code = t.replace(/\\.KS$/, '').replace(/\\.KQ$/, '');\n    const cached = getCached(naverCache.intra, code, 12 * 60 * 1000);\n    if (cached) return cached; // [PERF] Cache-first: API 호출 생략\n    try {\n      let resp = await fetchIntra(code, 60);\n      if (!Array.isArray(resp) || resp.length === 0) {\n        await sleep(200);\n        resp = await fetchIntra(code, 120);\n      }\n      if (!Array.isArray(resp) || resp.length === 0) {\n        if (cached) return cached;\n        return { chart: { result: null, error: { description: 'No intraday data from Naver' } } };\n      }\n      const timestamps = resp.map(d => new Date(d.localTradedAt).getTime() / 1000);\n      const opens = resp.map(d => parseFloat(String(d.openPrice || '0').replace(/,/g, '')));\n      const highs = resp.map(d => parseFloat(String(d.highPrice || '0').replace(/,/g, '')));\n      const lows = resp.map(d => parseFloat(String(d.lowPrice || '0').replace(/,/g, '')));\n      const closes = resp.map(d => parseFloat(String(d.closePrice || '0').replace(/,/g, '')));\n      const volumes = resp.map(d => parseInt(String(d.accumulatedTradingVolume || '0').replace(/,/g, ''), 10));\n      const chart = { chart: { result: [{ meta: { symbol: t, currency: 'KRW', regularMarketPrice: closes[0] }, timestamp: timestamps.reverse(), indicators: { quote: [{ open: opens.reverse(), high: highs.reverse(), low: lows.reverse(), close: closes.reverse(), volume: volumes.reverse() }] } }], error: null } };\n      setCached(naverCache.intra, code, chart);\n      return chart;\n    } catch (e) {\n      if (cached) return cached;\n      return { chart: { result: null, error: { description: String(e?.message || e) } } };\n    }\n  };\n\n  const fetchDaily = async (code, startDate, endDate) => {\n    const url = `https://api.stock.naver.com/chart/domestic/item/${code}/day?startDateTime=${startDate}&endDateTime=${endDate}`;\n    return await http({\n      method: 'GET',\n      url,\n      json: true,\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n        'Referer': 'https://finance.naver.com/',\n        'Accept': 'application/json',\n        'Accept-Charset': 'utf-8',\n        'Accept-Language': 'ko-KR,ko;q=0.9,en;q=0.8'\n      },\n      encoding: 'utf8'\n    });\n  };\n\n  const httpDaily = async (t) => {\n    const code = t.replace(/\\.KS$/, '').replace(/\\.KQ$/, '');\n    const cached = getCached(naverCache.daily, code, 60 * 60 * 1000); // [PERF] 60min TTL\n    if (cached) return cached; // [PERF] Cache-first: API 호출 생략\n    try {\n      const kst = new Date(Date.now() + 9 * 3600000);\n      const endDate = kst.toISOString().slice(0, 10).replace(/-/g, '');\n      const startKst = new Date(kst.getTime() - 365 * 24 * 3600000);\n      const startDate = startKst.toISOString().slice(0, 10).replace(/-/g, '');\n      let resp = await fetchDaily(code, startDate, endDate);\n      if (!Array.isArray(resp) || resp.length === 0) {\n        await sleep(200);\n        const startKstAlt = new Date(kst.getTime() - 180 * 24 * 3600000);\n        const startDateAlt = startKstAlt.toISOString().slice(0, 10).replace(/-/g, '');\n        resp = await fetchDaily(code, startDateAlt, endDate);\n      }\n      if (!Array.isArray(resp) || resp.length === 0) {\n        if (cached) return cached;\n        return { chart: { result: null, error: { description: 'No data from Naver' } } };\n      }\n      const timestamps = resp.map(d => new Date(d.localDate.slice(0,4) + '-' + d.localDate.slice(4,6) + '-' + d.localDate.slice(6,8)).getTime() / 1000);\n      const opens = resp.map(d => d.openPrice);\n      const highs = resp.map(d => d.highPrice);\n      const lows = resp.map(d => d.lowPrice);\n      const closes = resp.map(d => d.closePrice);\n      const volumes = resp.map(d => d.accumulatedTradingVolume);\n      const chart = { chart: { result: [{ meta: { symbol: t, currency: 'KRW', regularMarketPrice: closes[closes.length - 1] }, timestamp: timestamps, indicators: { quote: [{ open: opens, high: highs, low: lows, close: closes, volume: volumes }] } }], error: null } };\n      setCached(naverCache.daily, code, chart);\n      return chart;\n    } catch (e) {\n      if (cached) return cached;\n      return { chart: { result: null, error: { description: String(e?.message || e) } } };\n    }\n  };\n\n  const candidates = [];\n  const BATCH_SIZE = 40; // Parallel processing optimization\n\n  // [PERF] Execution Time Guard: 8분 초과 시 중단\n  const _EXEC_START = Date.now();\n  const _MAX_EXEC_MS = 8 * 60 * 1000;\n  let _batchCount = 0;\n  for (let i = 0; i < ALL_TICKERS.length; i += BATCH_SIZE) {\n    if (Date.now() - _EXEC_START > _MAX_EXEC_MS) break;\n    _batchCount++;\n    const batch = ALL_TICKERS.slice(i, i + BATCH_SIZE);\n    await Promise.all(batch.map(async (t) => {\n      try {\n        if (store.scalpingSent[t]) return;\n        if (store.swingSent && store.swingSent[t]) return;\n\n        const [cIntra, cDaily] = await Promise.all([httpIntra(t), httpDaily(t)]);\n        const errIntra = cIntra?.chart?.error?.description;\n        const errDaily = cDaily?.chart?.error?.description;\n        const noDataIntra = errIntra && String(errIntra).includes('No intraday data');\n        const noDataDaily = errDaily && String(errDaily).includes('No data from Naver');\n        if ((errIntra || errDaily) && !(noDataIntra || noDataDaily)) {\n          naverErrorCount++;\n          if (naverErrorSamples.length < 3) {\n            naverErrorSamples.push({ ticker: t, intra: errIntra || null, daily: errDaily || null });\n          }\n        }\n        const rIntra = cIntra?.chart?.result?.[0];\n        const rDaily = cDaily?.chart?.result?.[0];\n        if (!rIntra || !rDaily) { naverNoResultCount++; return; }\n        naverOkCount++;\n\n        const qI = rIntra?.indicators?.quote?.[0] || {};\n        const qD = rDaily?.indicators?.quote?.[0] || {};\n\n        const close30mRaw = (qI.close || []).map(Number);\n        const close30m = close30mRaw.filter((v) => v > 0);\n        const volume30m = (qI.volume || []).map(Number).filter((v) => v >= 0);\n\n        const closeD = (qD.close || []).map(Number).filter((v) => v > 0);\n        const highD = (qD.high || []).map(Number).filter((v) => v > 0);\n        const lowD = (qD.low || []).map(Number).filter((v) => v > 0);\n        const volD = (qD.volume || []).map(Number).filter((v) => v >= 0);\n\n        if (close30m.length < 30 || closeD.length < 70) return;\n\n        // [ENHANCEMENT] Calculate VWAP for intraday data\n        const vwapIntraday = calculateVWAP(close30mRaw, qI.volume || []);\n        const vwapCurrent = vwapIntraday.length > 0 ? vwapIntraday[vwapIntraday.length - 1] : NaN;\n\n        // 현재가\n        let lastIdx = close30mRaw.length - 1;\n        while (lastIdx >= 0 && !(Number(close30mRaw[lastIdx]) > 0)) lastIdx--;\n        const currentPrice = Number(close30mRaw[lastIdx] || close30m[close30m.length - 1]);\n\n        // 오늘 인덱스(일봉)\n        const tsDaily = (rDaily.timestamp || []).map((t) => {\n          const d = new Date(t * 1000 + 9 * 60 * 60 * 1000);\n          return `${d.getUTCFullYear()}-${String(d.getUTCMonth() + 1).padStart(2, '0')}-${String(d.getUTCDate()).padStart(2, '0')}`;\n        });\n        const idxToday = tsDaily.indexOf(today);\n        const dIdx = closeD.length - 1;\n        const idxUse = (idxToday >= 0 ? idxToday : dIdx);\n\n        const prevClose = idxUse > 0 ? closeD[idxUse - 1] : closeD[closeD.length - 2] || closeD[closeD.length - 1];\n        if (!(prevClose > 0)) return;\n\n        const dailyChange = currentPrice / prevClose - 1;\n        if (currentPrice < MIN_PRICE) return;\n\n        // HiTalk 확률(pUP)\n        const feats = featuresFromDaily(closeD, highD, lowD, volD, idxUse);\n        const featArr = HITALK_UP_MODEL.feature_cols.map((k) => Number(feats[k]) || 0);\n        const pUP = predictProb(HITALK_UP_MODEL, featArr);\n\n        if (pUP < UP_THRESHOLD_RELAX) return;\n\n        // ===== Phase 1 Enhancement: MACD, OBV, Divergence =====\n        // Calculate MACD for intraday data\n        const macd = calculateMACD(close30m, 12, 26, 9);\n        const macdIdx = macd.macdLine.length - 1;\n        const macdBullish = Number.isFinite(macd.histogram[macdIdx]) && \n                           macd.histogram[macdIdx] > 0 && \n                           Number.isFinite(macd.macdLine[macdIdx]) &&\n                           Number.isFinite(macd.signalLine[macdIdx]) &&\n                           macd.macdLine[macdIdx] > macd.signalLine[macdIdx];\n        \n        // Calculate OBV for daily data\n        const obvDaily = calculateOBV(closeD, volD);\n        const obvIdx = Math.min(idxUse, obvDaily.length - 1);\n        const obvTrend = obvIdx >= 5 ? \n          (obvDaily[obvIdx] > obvDaily[obvIdx - 5] ? 1 : 0) : 0;\n        \n        // Bearish divergence check (RSI-based)\n        const rsiArr = rsi14(closeD);\n        const hasBearishDivergence = detectBearishDivergence(closeD, rsiArr, 10);\n\n        // [ENHANCEMENT] Multi-timeframe trend alignment\n        // 일봉 정배열 (이미 계산됨: feats.uptrend)\n        // 단기 intraday 추세 (최근 10개 바 vs 전체 평균)\n        const intradayRecent = close30m.length >= 10 ? \n          close30m.slice(-10).reduce((a,b) => a+b, 0) / 10 : 0;\n        const intradayAvg = close30m.length > 0 ?\n          close30m.reduce((a,b) => a+b, 0) / close30m.length : 0;\n        const intradayTrendUp = intradayRecent > intradayAvg;\n        \n        // 장기 intraday 추세 (최근 20개 바 SMA vs 전체 SMA)\n        const intradaySma20 = close30m.length >= 20 ?\n          sma(close30m, 20) : [];\n        const intradaySma50 = close30m.length >= 50 ?\n          sma(close30m, 50) : [];\n        const intradayLongTrendUp = (intradaySma20.length > 0 && intradaySma50.length > 0) ?\n          (intradaySma20[intradaySma20.length - 1] > intradaySma50[intradaySma50.length - 1]) : false;\n        \n        const mtfAligned = feats.uptrend === 1 && intradayTrendUp && intradayLongTrendUp;\n\n        // 간단 점수(품질 보강 + Phase 1 개선)\n        let score = 0;\n        const signals = [];\n\n        // [ENHANCEMENT] Divergence filter - 진입 회피\n        if (hasBearishDivergence) {\n          score -= 20;\n          signals.push('약세다이버전스');\n        }\n\n        // 기존 시그널\n        if (feats.uptrend === 1) { score += 15; signals.push('일봉정배열'); }\n        \n        // [ENHANCEMENT] Volume confirmation 3단계 검증\n        // 기준 완화 (2.5x -> 2.0x) + OBV 확인\n        const volumeConfirmed = feats.volume_surge >= 2.0 && obvTrend > 0;\n        if (volumeConfirmed) { \n          score += 30;\n          signals.push('거래량확인'); \n        } else if (feats.volume_surge >= 2.5) {\n          score += 25; \n          signals.push('거래량급증');\n        }\n        \n        if (feats.breakout20 === 1) { score += 25; signals.push('20일돌파'); }\n        if (feats.ret5 > 0) { score += 10; signals.push('5일상승'); }\n        if (dailyChange > 0.02) { score += 10; signals.push('당일강세'); }\n        \n        // [ENHANCEMENT] RSI-MACD 조합 신호\n        if (feats.rsi14 > 40 && feats.rsi14 < 70 && macdBullish) {\n          score += 15;\n          signals.push('RSI-MACD확인');\n        }\n\n        // [ENHANCEMENT] VWAP distance 신호\n        if (Number.isFinite(vwapCurrent) && vwapCurrent > 0) {\n          const vwapDistance = (currentPrice - vwapCurrent) / vwapCurrent;\n          // Price above VWAP but not overheated (0.5% ~ 3%)\n          if (vwapDistance > 0.005 && vwapDistance < 0.03) {\n            score += 20;\n            signals.push('VWAP상회');\n          } else if (vwapDistance <= 0.005 && vwapDistance >= -0.01) {\n            // Near VWAP (potential bounce zone)\n            score += 10;\n            signals.push('VWAP근접');\n          }\n        }\n\n        // [ENHANCEMENT] Multi-timeframe alignment\n        if (mtfAligned) {\n          score += 20;\n          signals.push('멀티타임확인');\n        }\n\n        const strictPass = (pUP >= UP_THRESHOLD) && (score >= MIN_SCORE);\n        const relaxedPass = (pUP >= UP_THRESHOLD_RELAX) && (score >= RELAX_SCORE);\n        if (!relaxedPass) return;\n        if (!strictPass) signals.push('완화');\n\n        const entry = currentPrice;\n        const atrAbs = calcAtrAbs(highD, lowD, idxUse, ATR_WINDOW);\n        \n        // [ENHANCEMENT] Dynamic ATR multipliers based on volatility regime\n        const volatilityRegime = feats.atr14 > 0.05 ? 'high' : \n                                 feats.atr14 > 0.03 ? 'medium' : 'low';\n        let stopMult = ATR_STOP_MULT;\n        let targetMult = ATR_TARGET_MULT;\n        \n        if (volatilityRegime === 'high') {\n          stopMult = 2.0;\n          targetMult = 3.0;\n        } else if (volatilityRegime === 'medium') {\n          stopMult = 1.7;\n          targetMult = 2.4;\n        } else {\n          stopMult = 1.4;\n          targetMult = 2.1;\n        }\n        \n        let stop = entry - atrAbs * stopMult;\n        let target = entry + atrAbs * targetMult;\n        // cap to keep scalping within reasonable bounds\n        const stopCap = entry * (1 - CAP_STOP_PCT);\n        const targetCap = entry * (1 + CAP_TARGET_PCT);\n        if (Number.isFinite(stopCap)) stop = Math.max(stop, stopCap);\n        if (Number.isFinite(targetCap)) target = Math.min(target, targetCap);\n\n        const rg = await getMarketRegime(store, today);\n        const riskOn = !!(rg && rg.riskOn);\n        const sizeFactor = riskOn ? 1.0 : 0.5;\n        const qty = calcQty(ACCOUNT_KRW, RISK_PCT_PER_TRADE * sizeFactor, entry, stop);\n\n        const code = normalize(getCode(t));\n        const name = NAME[code] || code;\n        const market = t.endsWith('.KS') ? 'KOSPI' : 'KOSDAQ';\n\n        const rankScore = pUP * 100 + score;\n\n        candidates.push({\n          ticker: t,\n          code,\n          name,\n          market,\n          entry,\n          target,\n          stop,\n          score,\n          signals,\n          pUP,\n          atrAbs,\n          riskOn,\n          qty,\n          rankScore,\n          strictPass,\n          relaxedPass,\n          dailyChange,\n          prevClose,\n          currentPrice,\n        });\n      } catch (e) {\n        naverErrorCount++;\n        const st = pickStatus(e);\n        const key = String(st || 'ERR');\n        naverErrorByStatus[key] = (naverErrorByStatus[key] || 0) + 1;\n        if (naverErrorSamples.length < 3) {\n          naverErrorSamples.push({ ticker: t, status: st, message: (e?.message || String(e)).slice(0, 180) });\n        }\n      }\n    }));\n\n    // Rate limiting delay\n    await new Promise((r) => setTimeout(r, 80));\n  }\n\n  const noResultAll = (ALL_TICKERS.length > 0 && naverNoResultCount === ALL_TICKERS.length);\n  // 장 시간 체크: 09:05 ~ 15:25 KST에만 경고 발송 (장외 시간 빈 결과는 정상)\n  const alertHour = kst.getUTCHours();\n  const alertMin = kst.getUTCMinutes();\n  const isMarketTimeForAlert = (alertHour > 9 || (alertHour === 9 && alertMin >= 5)) && \n                               (alertHour < 15 || (alertHour === 15 && alertMin < 25));\n  if (noResultAll && isMarketTimeForAlert) {\n    if (!store.naverAlerts) store.naverAlerts = {};\n    if (store.naverAlerts.noResultAllDate !== today) {\n      const msg =\n        '⚠️ [데이터 경고] Naver 응답이 전 종목 빈 결과' + NL +\n        `- KST: ${today} ${timeStrNow}` + NL +\n        `- universe: ${ALL_TICKERS.length}` + NL +\n        `- Naver OK/NoResult/Error: ${naverOkCount}/${naverNoResultCount}/${naverErrorCount}`;\n      try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n      store.naverAlerts.noResultAllDate = today;\n    }\n  }\n  if (naverErrorCount > 0) {\n    if (!store.naverAlerts) store.naverAlerts = {};\n    const last = Number(store.naverAlerts.lastErrorAt || 0);\n    const nowMs = Date.now();\n    if (nowMs - last > 30 * 60 * 1000) {\n      const sample = (naverErrorSamples && naverErrorSamples.length) ? JSON.stringify(naverErrorSamples.slice(0, 2)) : 'none';\n      const msg =\n        '⚠️ [데이터 오류] 스캔 중 에러 발생' + NL +\n        `- KST: ${today} ${timeStrNow}` + NL +\n        `- Naver OK/NoResult/Error: ${naverOkCount}/${naverNoResultCount}/${naverErrorCount}` + NL +\n        `- sample: ${sample}`;\n      try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n      store.naverAlerts.lastErrorAt = nowMs;\n    }\n  }\n\n  candidates.sort((a, b) => (b.rankScore || b.score) - (a.rankScore || a.score));\n  const strictSelected = candidates.filter((c) => c.strictPass).slice(0, MAX_INTRADAY_SENDS);\n  const selected = strictSelected;\n  if (selected.length < MIN_DAILY_PICKS) {\n    const need = Math.min(MIN_DAILY_PICKS - selected.length, MAX_INTRADAY_SENDS - selected.length);\n    if (need > 0) {\n      const used = new Set(selected.map((x) => x.ticker));\n      const fillers = candidates.filter((c) => !used.has(c.ticker) && c.relaxedPass).slice(0, need);\n      for (const f of fillers) selected.push(f);\n    }\n  }\n  const sent = [];\n  let sendFailCount = 0;\n  const sendFailSamples = [];\n\n  const send = async (c) => {\n    const kstNow = new Date(Date.now() + 9 * 60 * 60 * 1000);\n    const timeStr = String(kstNow.getUTCHours()).padStart(2, '0') + ':' + String(kstNow.getUTCMinutes()).padStart(2, '0');\n\n    const dailyChangeText = Number.isFinite(c.dailyChange) ? ` (전일 대비 ${pct(c.dailyChange)})` : '';\n\n    const msg =\n      '⚡ [장중 단타 포착] ' + c.market + ' | ' + esc(c.name) + '(' + c.code + ')' + NL +\n      '⏰ 포착 시각: ' + timeStr + ' KST' + NL +\n      `🔥 pUP: ${(c.pUP * 100).toFixed(1)}%` + NL +\n      '📈 현재가: ' + to0(c.entry) + '원' + dailyChangeText + NL +\n      '- 매수가: ' + to0(c.entry) + '원' + NL +\n      '- 목표가: ' + to0(c.target) + '원 (+' + pct(c.target / c.entry - 1) + ')' + NL +\n      '- 손절가: ' + to0(c.stop) + '원 (-' + pct(1 - c.stop / c.entry) + ')' + NL +\n      '레짐: ' + (c.riskOn ? '양호' : '주의(사이징 50%)') + NL +\n      'ATR(14): ' + (Number.isFinite(c.atrAbs) ? (to0(c.atrAbs) + '원') : 'N/A') + NL +\n      '권장수량: ' + (c.qty ? (to0(c.qty) + '주 (약 ' + to0(c.qty * c.entry) + '원)') : '0주(계좌/리스크 설정 확인)') + NL +\n      '- 점수: ' + c.score + '점' + NL +\n      '핵심 시그널: ' + (c.signals.slice(0, 4).join(', ') || 'N/A') + NL +\n      '면책: 본 알림은 정보 제공 목적이며 투자 손익은 본인 책임입니다.';\n\n    try {\n      await http({\n        method: 'POST',\n        url: 'https://api.telegram.org/bot' + BOT + '/sendMessage',\n        json: true,\n        body: { chat_id: CHAT, text: msg, parse_mode: 'HTML' },\n      });\n      return true;\n        } catch (e) {\n      sendFailCount++;\n      if (sendFailSamples.length < 3) sendFailSamples.push({ ticker: c.ticker, message: String(e?.message || e) });\n      return false;\n    }\n  };\n\n  for (const c of selected) {\n    const ok = await send(c);\n    if (ok) {\n      store.scalpingSent[c.ticker] = now.getTime();\n      store.weeklyRecommendations[today].push({\n        type: 'scalping',\n        subType: 'UP',\n        ticker: c.ticker,\n        code: c.code,\n        name: c.name,\n        entry: c.entry,\n        target: c.target,\n        stop: c.stop,\n        holdingDays: 1,\n        score: c.score,\n        prob: c.pUP,\n      });\n      sent.push(c.ticker);\n      await new Promise((r) => setTimeout(r, 900));\n    }\n  }\n\n  if (sendFailCount > 0) {\n    if (!store.telegramAlerts) store.telegramAlerts = {};\n    const last = Number(store.telegramAlerts.scalpingSendFailAt || 0);\n    const nowMs = Date.now();\n    if (nowMs - last > 30 * 60 * 1000) {\n      const sample = (sendFailSamples && sendFailSamples.length) ? JSON.stringify(sendFailSamples.slice(0, 2)) : 'none';\n      const msg = '⚠️ [발송 오류] 단타 알림 전송 실패' + NL +\n        `- KST: ${today} ${timeStrNow}` + NL +\n        `- failCount: ${sendFailCount}` + NL +\n        `- sample: ${sample}`;\n      try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n      store.telegramAlerts.scalpingSendFailAt = nowMs;\n    }\n  }\n\n  // 0건 안내 알림(하루 1회): 추천이 없어도 사용자에게 '정상 동작 + 0건'을 알려줍니다.\n  if (!store.scalpingAlerts) store.scalpingAlerts = {};\n  if (sent.length === 0 && store.scalpingAlerts.noHitDate !== today) {\n    const msg =\n      'ℹ️ [단타] 오늘 조건을 만족한 종목이 아직 없습니다(0건)' + NL +\n      `- KST: ${today} ${timeStrNow}` + NL +\n      `- 유니버스(필터 후): ${ALL_TICKERS.length}개` + NL +\n      `- 후보: ${candidates.length}건` + NL +\n      `- 제외(리스크): ${excludedRisk}개` + NL +\n      `- 제외(테마): ${excludedTheme}개` + NL +\n      `- Naver OK/NoResult/Error: ${naverOkCount}/${naverNoResultCount}/${naverErrorCount}`;\n    try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n    store.scalpingAlerts.noHitDate = today;\n  }\n\n  // Debug summary\n  if (debugMode) {\n    const msg =\n      '🔍 [단타 디버그] 스캔 완료' + NL +\n      `- 발견(후보): ${candidates.length}건` + NL +\n      `- 발송: ${sent.length}건` + NL +\n      `- 유니버스(필터 후): ${ALL_TICKERS.length}개` + NL +\n      `- 제외(리스크): ${excludedRisk}개` + NL +\n      `- 제외(테마): ${excludedTheme}개` + NL +\n      `- Naver OK/NoResult/Error: ${naverOkCount}/${naverNoResultCount}/${naverErrorCount}` + NL +\n      `- Naver err status: ${Object.keys(naverErrorByStatus).slice(0,4).map(k=>k+':'+naverErrorByStatus[k]).join(', ') || 'none'}` + NL +\n      `- riskCacheAt: ${riskCacheAt || 'null'}` + NL +\n      `- themeCacheAt: ${themeCacheAt || 'null'}` + NL +\n      `- KST: ${today} ${timeStrNow}`;\n    try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n  }\n\n  store.scalpingMeta._lastFullFinish = Date.now(); // [PERF] Queue 적체 방지용\n  return [{\n    json: {\n      ok: true,\n      scanTime: kst.toISOString(),\n      totalUniverse: ALL_TICKERS.length,\n      candidates: candidates.length,\n      sent: sent.length,\n      sentTickers: sent,\n      excludedRisk,\n      excludedTheme,\n      riskCacheAt,\n      themeCacheAt,\n      naverOkCount,\n      naverNoResultCount,\n      naverErrorCount,\n      naverErrorByStatus,\n      naverErrorSamples,\n    }\n  }];\n};\n\nreturn run();"
      },
      "id": "8bc83792-706e-42d3-aab2-3b8740c05cfa",
      "name": "Scalping Scanner",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5776,
        1856
      ],
      "disabled": true
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "30 9 * * 1-5"
            }
          ]
        }
      },
      "id": "499a8ec6-ab0c-4577-9427-35c28b2233bb",
      "name": "Swing Trigger (09:30)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        5344,
        2048
      ]
    },
    {
      "parameters": {
        "functionCode": "const run = async function () {\n  const BOT = '8366696724:AAHROcjGoQEn9BziD-sYdAu3ZuaolwtkgLE';\n  const CHAT = '523002062';\n  const MIN_PRICE = 1000;\n  const MIN_INTRADAY_TURNOVER = 3000000000; // 30억 KRW (rate-limiting 방지)\n  const MIN_SCORE = 60;\n  const RELAX_SCORE = 50;\n  const MIN_DAILY_PICKS = 2;\n  const PMAT_STRICT = 0.60;\n  const PMAT_RELAX = 0.60;\n\n  const ACCOUNT_KRW = 10000000;\n  const RISK_PCT_PER_TRADE = 0.005;\n  const ATR_WINDOW = 14;\n  const ATR_STOP_MULT = 1.9;\n  const ATR_TARGET_MULT = 2.8;\n  const CAP_STOP_PCT = 0.10;\n  const CAP_TARGET_PCT = 0.25;\n  const MAX_INTRADAY_SENDS = 4;\n  const HOLIDAYS = ['2025-01-01','2025-01-28','2025-01-29','2025-01-30','2025-03-01','2025-03-03','2025-05-05','2025-05-06','2025-06-06','2025-08-15','2025-10-03','2025-10-06','2025-10-07','2025-10-08','2025-10-09','2025-12-25','2026-01-01','2026-02-16','2026-02-17','2026-02-18','2026-03-01','2026-03-02','2026-05-05','2026-05-24','2026-05-25','2026-06-03','2026-06-06','2026-07-17','2026-08-15','2026-08-17','2026-09-24','2026-09-25','2026-09-26','2026-10-03','2026-10-05','2026-10-09','2026-12-25'];\n  const DUPLICATE_WINDOW_MINUTES = 4320; // 3일 (스윙 보유기간 반영, 동일 종목 재추천 방지)\n  const STOP_NEW_ALERTS_HOUR = 15;\n  const STOP_NEW_ALERTS_MINUTE = 20;\n  const MIN_AVG5_VOLUME = 30000; // 최소 5일 평균 거래량 (저유동성 종목 제외)\n\n  // ===== 3-day 3%+ 보강 상수 =====\n  const MIN_TARGET_PCT = 0.03;   // 최소 목표 수익률 3%\n  const MIN_RR_RATIO = 1.5;      // 최소 Risk:Reward 비율\n  const RSI_MIN_ENTRY = 45;      // RSI 하한 (모멘텀 부족 차단)\n  const RSI_MAX_ENTRY = 80;      // RSI 상한 (과매수 차단)\n  const ADX_TREND_MIN = 20;      // ADX 최소 추세 강도 (횡보장 차단)\n  const RVOL_GRADE_C = 1.5;      // C-grade: 1.5x\n  const RVOL_GRADE_B = 2.0;      // B-grade: 2.0x\n  const RVOL_GRADE_A = 3.0;      // A-grade: 3.0x (최고품질)\n  // ===== /3-day 3%+ 보강 상수 =====\n\n  const http = async (o) => await this.helpers.httpRequest(Object.assign({ timeout: 45000 }, o));\n\n  const sma = (arr, w) => {\n    const out = new Array(arr.length).fill(NaN);\n    if (arr.length < w) return out;\n    let sum = 0;\n    for (let i = 0; i < arr.length; i++) {\n      const v = Number(arr[i]);\n      sum += (Number.isFinite(v) ? v : 0);\n      if (i >= w) {\n        const old = Number(arr[i - w]);\n        sum -= (Number.isFinite(old) ? old : 0);\n      }\n      if (i >= w - 1) out[i] = sum / w;\n    }\n    return out;\n  };\n\n  const ema = (arr, w) => {\n    const out = new Array(arr.length).fill(NaN);\n    const k = 2 / (w + 1);\n    let prev = NaN;\n    for (let i = 0; i < arr.length; i++) {\n      const v = Number(arr[i]);\n      if (!Number.isFinite(v)) continue;\n      if (!Number.isFinite(prev)) { out[i] = v; prev = v; continue; }\n      out[i] = v * k + prev * (1 - k);\n      prev = out[i];\n    }\n    return out;\n  };\n\n  const calcRSI14 = (closeD, idx) => {\n    const period = 14;\n    const start = Math.max(0, idx - period * 3);\n    const slice = closeD.slice(start, idx + 1);\n    if (slice.length < period + 1) return NaN;\n    let gains = 0; let losses = 0;\n    for (let i = 1; i <= period; i++) {\n      const d = Number(slice[i]) - Number(slice[i - 1]);\n      if (d > 0) gains += d; else losses -= d;\n    }\n    let avgGain = gains / period;\n    let avgLoss = losses / period;\n    for (let i = period + 1; i < slice.length; i++) {\n      const d = Number(slice[i]) - Number(slice[i - 1]);\n      avgGain = (avgGain * (period - 1) + Math.max(d, 0)) / period;\n      avgLoss = (avgLoss * (period - 1) + Math.max(-d, 0)) / period;\n    }\n    if (avgLoss === 0) return 100;\n    return 100 - 100 / (1 + avgGain / avgLoss);\n  };\n\n  const calcADX = (highD, lowD, closeD, idx, period = 14) => {\n    const need = period * 3 + 2;\n    const start = Math.max(0, idx - need);\n    const hi = highD.slice(start, idx + 1).map(Number);\n    const lo = lowD.slice(start, idx + 1).map(Number);\n    const cl = closeD.slice(start, idx + 1).map(Number);\n    const n = hi.length;\n    if (n < period + 2) return { adx: NaN, plusDI: NaN, minusDI: NaN };\n\n    const plusDM = []; const minusDM = []; const tr = [];\n    for (let i = 1; i < n; i++) {\n      const upMove = hi[i] - hi[i - 1];\n      const downMove = lo[i - 1] - lo[i];\n      plusDM.push(upMove > downMove && upMove > 0 ? upMove : 0);\n      minusDM.push(downMove > upMove && downMove > 0 ? downMove : 0);\n      const trVal = Math.max(hi[i] - lo[i], Math.abs(hi[i] - cl[i - 1]), Math.abs(lo[i] - cl[i - 1]));\n      tr.push(trVal);\n    }\n\n    const smooth = (arr) => {\n      let s = arr.slice(0, period).reduce((a, b) => a + b, 0);\n      const out = [s];\n      for (let i = period; i < arr.length; i++) {\n        s = s - s / period + arr[i];\n        out.push(s);\n      }\n      return out;\n    };\n\n    const sTR = smooth(tr); const sPDM = smooth(plusDM); const sMDM = smooth(minusDM);\n    const dx = [];\n    for (let i = 0; i < sTR.length; i++) {\n      if (sTR[i] === 0) { dx.push(0); continue; }\n      const pdi = (sPDM[i] / sTR[i]) * 100;\n      const mdi = (sMDM[i] / sTR[i]) * 100;\n      const sum = pdi + mdi;\n      dx.push(sum === 0 ? 0 : (Math.abs(pdi - mdi) / sum) * 100);\n    }\n    if (dx.length < period) return { adx: NaN, plusDI: NaN, minusDI: NaN };\n    let adxVal = dx.slice(0, period).reduce((a, b) => a + b, 0) / period;\n    for (let i = period; i < dx.length; i++) {\n      adxVal = (adxVal * (period - 1) + dx[i]) / period;\n    }\n    const lastI = sTR.length - 1;\n    const plusDI = sTR[lastI] > 0 ? (sPDM[lastI] / sTR[lastI]) * 100 : 0;\n    const minusDI = sTR[lastI] > 0 ? (sMDM[lastI] / sTR[lastI]) * 100 : 0;\n    return { adx: adxVal, plusDI, minusDI };\n  };\n\n  const calcAtrAbs = (highD, lowD, idx, w) => {\n    const i = Math.max(0, Math.min(idx, highD.length - 1));\n    const start = Math.max(0, i - w);\n    const seg = [];\n    for (let k = start; k < i; k++) {\n      const hi = Number(highD[k]);\n      const lo = Number(lowD[k]);\n      if (Number.isFinite(hi) && Number.isFinite(lo)) seg.push(Math.max(0, hi - lo));\n    }\n    if (!seg.length) return NaN;\n    return seg.reduce((a, b) => a + b, 0) / seg.length;\n  };\n\n  // ===== Stock Skills: MACD / Bollinger Bands / OBV =====\n  // [Stock.md Step 3] MACD(12/26/9) — 모멘텀 신호 (골든크로스, 히스토그램 방향)\n  const calcMACD = (closeD, idx) => {\n    const nan = { macd: NaN, signal: NaN, hist: NaN, histPrev: NaN, goldenCross: false };\n    const start = Math.max(0, idx - 26 * 4);\n    const slice = closeD.slice(start, idx + 1);\n    if (slice.length < 35) return nan; // slow(26) + signal(9)\n    const fastEmaArr = ema(slice, 12);\n    const slowEmaArr = ema(slice, 26);\n    const macdLine = fastEmaArr.map((v, i) =>\n      (Number.isFinite(v) && Number.isFinite(slowEmaArr[i])) ? v - slowEmaArr[i] : NaN);\n    const macdValid = macdLine.filter(Number.isFinite);\n    if (macdValid.length < 9) return nan;\n    const signalArr = ema(macdValid, 9);\n    const n = Math.min(macdValid.length, signalArr.length);\n    if (n < 2) return nan;\n    const lastMacd = macdValid[n - 1];\n    const lastSignal = signalArr[n - 1];\n    const prevMacd = macdValid[n - 2];\n    const prevSignal = signalArr[n - 2];\n    return {\n      macd: lastMacd, signal: lastSignal,\n      hist: lastMacd - lastSignal,\n      histPrev: prevMacd - prevSignal,\n      goldenCross: prevMacd < prevSignal && lastMacd >= lastSignal,\n    };\n  };\n\n  // [Stock.md Step 4] Bollinger Bands(20, 2.0) — 변동성 스퀴즈 돌파 감지\n  const calcBB = (closeD, idx, period = 20, nbdev = 2.0) => {\n    const nan = { upper: NaN, middle: NaN, lower: NaN, width: NaN, zScore: NaN };\n    const end = idx + 1;\n    const start = Math.max(0, end - period);\n    const slice = closeD.slice(start, end).map(Number).filter(Number.isFinite);\n    if (slice.length < period) return nan;\n    const mean = slice.reduce((a, b) => a + b, 0) / slice.length;\n    const std = Math.sqrt(slice.reduce((a, b) => a + (b - mean) ** 2, 0) / slice.length);\n    if (std === 0) return nan;\n    const upper = mean + nbdev * std;\n    const lower = mean - nbdev * std;\n    const curr = Number(closeD[idx]);\n    const width = mean > 0 ? (upper - lower) / mean : NaN;\n    const zScore = (curr - mean) / std;\n    return { upper, middle: mean, lower, width, zScore };\n  };\n\n  // [Stock.md Step 4] OBV — 수급 확인 (가격-거래량 다이버전스 탐지)\n  // QA FIX: SMA5>SMA20은 장기 상승주에서 항상 true → OBV 기울기(최근 10일 변화율)로 교체\n  const calcOBV = (closeD, volD, idx) => {\n    const n = Math.min(closeD.length, volD.length, idx + 1);\n    if (n < 20) return { obvTrend: 0 };\n    let obv = 0;\n    const obvArr = [];\n    for (let i = 0; i < n; i++) {\n      if (i > 0) {\n        const d = Number(closeD[i]) - Number(closeD[i - 1]);\n        if (d > 0) obv += Number(volD[i]) || 0;\n        else if (d < 0) obv -= Number(volD[i]) || 0;\n      }\n      obvArr.push(obv);\n    }\n    // 기울기 방식: 최근 5일 OBV 평균 vs 5~10일 전 OBV 평균 비교 (단기 수급 방향)\n    const recentOBV = obvArr.slice(-5).reduce((a, b) => a + b, 0) / 5;\n    const prevOBV   = obvArr.slice(-10, -5).reduce((a, b) => a + b, 0) / 5;\n    if (prevOBV === 0) return { obvTrend: 0 };\n    const obvSlope = (recentOBV - prevOBV) / Math.abs(prevOBV);\n    // 0.5% 이상 상승 → 수급 확인, -0.5% 이하 하락 → 수급 이탈\n    if (obvSlope > 0.005) return { obvTrend: 1 };\n    if (obvSlope < -0.005) return { obvTrend: -1 };\n    return { obvTrend: 0 };\n  };\n  // ===== /Stock Skills =====\n\n  const calcQty = (accountKrw, riskPct, entry, stop) => {\n    const acct = Number(accountKrw) || 0;\n    const rp = Number(riskPct) || 0;\n    const e = Number(entry) || 0;\n    const s = Number(stop) || 0;\n    const perShareRisk = e - s;\n    if (!(acct > 0 && rp > 0 && e > 0 && perShareRisk > 0)) return 0;\n    const riskAmt = acct * rp;\n    const q = Math.floor(riskAmt / perShareRisk);\n    return Math.max(0, Math.min(q, 100000));\n  };\n\n  const detectCupAndHandle = (close, high, low, idx) => {\n    const MIN_CUP_DAYS = 30; const MAX_CUP_DAYS = 80;\n    const MIN_HANDLE_DAYS = 5; const MAX_HANDLE_DAYS = 20;\n    const MAX_CUP_DEPTH = 0.35;\n    const MIN_HANDLE_RETRACEMENT = 0.05; const MAX_HANDLE_RETRACEMENT = 0.20;\n    const HANDLE_FLATNESS = 0.10;\n\n    if (idx < MIN_CUP_DAYS + MIN_HANDLE_DAYS) return { detected: false };\n\n    const endCup = idx - MIN_HANDLE_DAYS;\n    const startCup = Math.max(0, endCup - MAX_CUP_DAYS);\n    const cupSegment = close.slice(startCup, endCup);\n    if (cupSegment.length < MIN_CUP_DAYS) return { detected: false };\n\n    const leftRim = Math.max(...cupSegment.slice(0, 5));\n    const bottom = Math.min(...cupSegment);\n    const rightRim = Math.max(...cupSegment.slice(-5));\n\n    const cupDepth = (leftRim - bottom) / leftRim;\n    if (cupDepth > MAX_CUP_DEPTH) return { detected: false };\n\n    const rimsAligned = Math.abs(leftRim - rightRim) / leftRim < 0.05;\n    if (!rimsAligned) return { detected: false };\n\n    const midIdx = Math.floor(cupSegment.length / 2);\n    const leftLow = Math.min(...cupSegment.slice(0, midIdx));\n    const rightLow = Math.min(...cupSegment.slice(midIdx));\n    const isUShape = Math.abs(leftLow - rightLow) / Math.max(leftLow, rightLow) < 0.10;\n    if (!isUShape) return { detected: false };\n\n    const handleSegment = close.slice(endCup, idx);\n    if (handleSegment.length < MIN_HANDLE_DAYS || handleSegment.length > MAX_HANDLE_DAYS) return { detected: false };\n\n    const handleHigh = Math.max(...handleSegment);\n    const handleLow = Math.min(...handleSegment);\n    const handleRetracement = (handleHigh - handleLow) / handleHigh;\n    if (handleRetracement < MIN_HANDLE_RETRACEMENT || handleRetracement > MAX_HANDLE_RETRACEMENT) return { detected: false };\n\n    const handleRange = (handleHigh - handleLow) / handleHigh;\n    if (handleRange > HANDLE_FLATNESS) return { detected: false };\n\n    return { detected: true, leftRim, rightRim, bottom, handleHigh, handleLow, cupDepth, handleRetracement };\n  };\n\n  const fetchDailyClose = async (encodedTicker) => { return []; };\n\n  const getMarketRegime = async (store, today) => {\n    if (!store.regimeCache) store.regimeCache = {};\n    if (store.regimeCache.date === today && store.regimeCache.riskOn !== undefined) return store.regimeCache;\n    let riskOn = true;\n    let ks = null;\n    let kq = null;\n    try {\n      const [ksClose, kqClose] = await Promise.all([fetchDailyClose('%5EKS11'), fetchDailyClose('%5EKQ11')]);\n      const ks20 = sma(ksClose, 20); const ks60 = sma(ksClose, 60);\n      const kq20 = sma(kqClose, 20); const kq60 = sma(kqClose, 60);\n      const iKs = ksClose.length - 1; const iKq = kqClose.length - 1;\n      ks = (Number.isFinite(ks20[iKs]) && Number.isFinite(ks60[iKs])) ? (ks20[iKs] > ks60[iKs]) : null;\n      kq = (Number.isFinite(kq20[iKq]) && Number.isFinite(kq60[iKq])) ? (kq20[iKq] > kq60[iKq]) : null;\n      if (ks === false || kq === false) riskOn = false;\n    } catch (e) {\n      riskOn = true;\n    }\n    store.regimeCache = { date: today, riskOn, ksUp: ks, kqUp: kq, at: new Date().toISOString() };\n    return store.regimeCache;\n  };\n\n  const input = (items && items[0] && items[0].json) || {};\n  const forceTest = !!input.forceTest;\n\n  const now = new Date();\n  const kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\n  const timeStrNow = String(kst.getUTCHours()).padStart(2, '0') + ':' + String(kst.getUTCMinutes()).padStart(2, '0');\n\n  const NL = String.fromCharCode(10);\n  const esc = (s) => String(s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\n  if (forceTest) {\n    const msg = '[스윙 스캔 테스트] 시스템 정상 작동' + NL + '시간: ' + kst.toISOString().slice(0, 16).replace('T', ' ') + ' KST';\n    try {\n      const res = await http({\n        method: 'POST',\n        url: 'https://api.telegram.org/bot' + BOT + '/sendMessage',\n        json: true,\n        body: { chat_id: CHAT, text: msg, parse_mode: 'HTML' },\n      });\n      return [{ json: { testSent: true, telegramResponse: res } }];\n    } catch (e) {\n      return [{ json: { testSent: false, error: e.message, stack: e.stack } }];\n    }\n  }\n\n  const d = kst.getUTCDay();\n  const h = kst.getUTCHours();\n  const m = kst.getUTCMinutes();\n\n  if (!(d >= 1 && d <= 5)) return [{ json: { skipped: true, reason: 'Weekend' } }];\n\n  const today = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth() + 1).padStart(2, '0')}-${String(kst.getUTCDate()).padStart(2, '0')}`;\n  if (HOLIDAYS.includes(today)) return [{ json: { skipped: true, reason: 'Holiday (KRX closed)' } }];\n\n  if (h < 9) return [{ json: { skipped: true, reason: 'Before market open' } }];\n  if (h === 9 && m < 30) return [{ json: { skipped: true, reason: 'Too early - daily data not ready before 09:30' } }];\n\n  if (h > STOP_NEW_ALERTS_HOUR || (h === STOP_NEW_ALERTS_HOUR && m >= STOP_NEW_ALERTS_MINUTE)) {\n    return [{ json: { skipped: true, reason: 'Too close to market close' } }];\n  }\n  if (h >= 16) return [{ json: { skipped: true, reason: 'After market close' } }];\n\n  const store = this.getWorkflowStaticData('global');\n  if (!store.swingMeta) store.swingMeta = {};\n  store.swingMeta.lastRunAt = now.toISOString();\n  store.swingMeta.lastRunDate = today;\n\n  if (store.swingMeta._lastFullFinish && (Date.now() - store.swingMeta._lastFullFinish) < 90000) {\n    return [{ json: { skipped: true, reason: 'Queue backed up - fast drain' } }];\n  }\n\n  if (!store.swingSent) store.swingSent = {};\n  if (!store.weeklyRecommendations) store.weeklyRecommendations = {};\n  const cutoffDate = new Date(now.getTime() - 14 * 24 * 60 * 60 * 1000);\n  const cutoffStr = `${cutoffDate.getFullYear()}-${String(cutoffDate.getMonth()+1).padStart(2,'0')}-${String(cutoffDate.getDate()).padStart(2,'0')}`;\n  for (const dateKey in store.weeklyRecommendations) {\n    if (dateKey < cutoffStr) delete store.weeklyRecommendations[dateKey];\n  }\n  if (!store.weeklyRecommendations[today]) store.weeklyRecommendations[today] = [];\n\n  const cleanOldHistory = () => {\n    const cutoff = now.getTime() - DUPLICATE_WINDOW_MINUTES * 60 * 1000;\n    for (const ticker in store.swingSent) {\n      if (store.swingSent[ticker] < cutoff) delete store.swingSent[ticker];\n    }\n  };\n  cleanOldHistory();\n\n  const bl = store.blacklist || {};\n  const riskSet = new Set((bl.riskCodes || []).map(String));\n  const themeFilterMode = String(bl.themeFilterMode || 'off').toLowerCase();\n  const themeSet = (themeFilterMode === 'off') ? new Set() : new Set((bl.themeCodes || []).map(String));\n  let excludedRisk = 0;\n  let excludedTheme = 0;\n  const riskCacheAt = bl.riskUpdatedAt || null;\n  const themeCacheAt = bl.themeUpdatedAt || null;\n\n  const to0 = (n) => Math.round(Number(n) || 0).toLocaleString('ko-KR');\n  const getCode = (sym) => {\n    const v = String(sym);\n    if (v.endsWith('.KS') || v.endsWith('.KQ')) return v.slice(0, -3);\n    return v;\n  };\n  const normalize = (s) => String(s || '').trim();\n  const pct = (r) => (r * 100).toFixed(1) + '%';\n\n  // ===== HiTalk Setup Models =====\n  const HITALK_UP_MODEL = {\"name\":\"SETUP_UP(단타=급등)\",\"feature_cols\":[\"daily_change\",\"uptrend\",\"rsi14\",\"breakout20\",\"breakout_ratio\",\"breakout60\",\"breakout60_ratio\",\"volume_surge\",\"volume_surge5\",\"volume_surge60\",\"volume_trend_5_20\",\"volatility\",\"atr14\",\"ret5\",\"ret20\",\"dist_sma20\",\"dist_sma60\",\"trend_strength\",\"price\"],\"scaler\":{\"mean\":[0.03941112323492713,0.5543478260869565,56.545286976615934,0.16897233201581027,0.9125539688024894,0.09387351778656126,0.8444209313001051,7.859869097035799,9.808710474152516,7.407255525593385,1.1741009201441042,0.09152603600351632,0.052841022855268954,0.06693993755172249,0.09917903036869001,0.06651846479725247,0.09049245314562593,0.007006514477785763,35568.01663811122],\"scale\":[0.08766529491393103,0.49703753761624325,16.889372083821293,0.3747274783478637,0.11615516943446853,0.2916526709031452,0.1404641448755363,28.625067611054348,36.39775002735151,24.425783867182986,0.8121668721832151,0.07127136375745106,0.02481501386636216,0.13977010898417583,0.24293659705155204,0.13241135669408638,0.19540197393809716,0.13715305283752963,95896.01749780211]},\"coef\":[0.7562683117443777,0.3626442429601983,0.2795871935673176,0.11570148366611886,0.5328372190930989,-0.49562171518787235,-0.0133555000485831,-0.5147492810327007,0.935863691546091,-0.36162297177444197,-0.014914088687825148,1.0185496067021869,0.5814560310633664,0.7469841752968425,-0.5127443495874868,0.6227061707667483,-0.3418990371124205,0.25010246627460375,-1.104266379894277],\"intercept\":-0.6993095468699385,\"meta\":{\"generatedAt\":\"2025-12-21T05:54:03.827639Z\",\"rows\":1266,\"pos\":373,\"neg\":893,\"skipped\":120,\"seed\":42,\"neg_per_pos\":2,\"top_turnover\":800,\"max_days\":120},\"metrics\":{\"auc\":0.9353445065176909,\"report\":{\"0\":{\"precision\":0.94375,\"recall\":0.8435754189944135,\"f1-score\":0.8908554572271387,\"support\":179.0},\"1\":{\"precision\":0.7021276595744681,\"recall\":0.88,\"f1-score\":0.7810650887573964,\"support\":75.0},\"accuracy\":0.8543307086614174,\"macro avg\":{\"precision\":0.822938829787234,\"recall\":0.8617877094972067,\"f1-score\":0.8359602729922675,\"support\":254.0},\"weighted avg\":{\"precision\":0.8724048207404926,\"recall\":0.8543307086614174,\"f1-score\":0.8584370413404038,\"support\":254.0}},\"confusion_matrix\":[[151,28],[9,66]]}};\n  const HITALK_MAT_MODEL = {\"name\":\"SETUP_MAT(스윙=재료)\",\"feature_cols\":[\"daily_change\",\"uptrend\",\"rsi14\",\"breakout20\",\"breakout_ratio\",\"breakout60\",\"breakout60_ratio\",\"volume_surge\",\"volume_surge5\",\"volume_surge60\",\"volume_trend_5_20\",\"volatility\",\"atr14\",\"ret5\",\"ret20\",\"dist_sma20\",\"dist_sma60\",\"trend_strength\",\"price\"],\"scaler\":{\"mean\":[0.021672322309040985,0.6102292768959435,55.54906409815424,0.12698412698412698,0.9044426261918556,0.08465608465608465,0.848404316977533,5.05730837028303,5.9870278883417605,4.935397521137353,1.1624705759072649,0.07390376416270977,0.05358470180620499,0.05517713949198958,0.09110163225026832,0.05955020351996882,0.10858486882914639,0.028491179406826692,41330.92297557044],\"scale\":[0.07289730273067968,0.487698171531324,16.441425165154502,0.3329551898952858,0.10843488516735644,0.2783692367823469,0.13045534095275263,19.32527938335188,25.39394540728067,18.221408853875058,0.7277593184242444,0.05890488709896314,0.026258386597653047,0.1318396349850443,0.20362394914749846,0.12413112586273757,0.19332765113378547,0.09773438561870854,74861.23768223941]},\"coef\":[0.6717596961119858,0.6762207689163452,0.39355856590519267,-0.09228167232586969,0.9053624709907248,-0.11319441378647066,-0.0015877478707488962,-0.08994121562855331,0.2922226931482804,-0.36171544831150043,0.2305227581635665,0.31550222939058603,1.374909565887536,0.4119961022129777,-0.7485519331679408,0.7716839454271054,-1.0245614606852167,0.0714910196773468,-0.1523532626149339],\"intercept\":-0.3607035788307738,\"meta\":{\"generatedAt\":\"2025-12-21T05:54:03.859639Z\",\"rows\":709,\"pos\":208,\"neg\":501,\"skipped\":59,\"seed\":42,\"neg_per_pos\":2,\"top_turnover\":800,\"max_days\":120},\"metrics\":{\"auc\":0.8185714285714285,\"report\":{\"0\":{\"precision\":0.8837209302325582,\"recall\":0.76,\"f1-score\":0.8172043010752689,\"support\":100.0},\"1\":{\"precision\":0.5714285714285714,\"recall\":0.7619047619047619,\"f1-score\":0.6530612244897959,\"support\":42.0},\"accuracy\":0.7605633802816901,\"macro avg\":{\"precision\":0.7275747508305648,\"recall\":0.7609523809523809,\"f1-score\":0.7351327627825324,\"support\":142.0},\"weighted avg\":{\"precision\":0.7913527677694071,\"recall\":0.7605633802816901,\"f1-score\":0.7686549403950586,\"support\":142.0}},\"confusion_matrix\":[[76,24],[10,32]]}};\n  const HITALK_SETUP_CFG = {\"UP\":{\"targetRate\":0.10550000000000001,\"stopRate\":0.055,\"threshold\":0.93},\"MAT\":{\"targetRate\":0.14155,\"stopRate\":0.08,\"threshold\":0.95}};\n  const hitalkSigmoid = (x) => 1 / (1 + Math.exp(-x));\n  const hitalkDot = (w, x) => { let s = 0; for (let i = 0; i < w.length; i++) s += w[i] * x[i]; return s; };\n  const hitalkStandardize = (model, featArr) => {\n    const mu = model.scaler.mean;\n    const sc = model.scaler.scale;\n    const x = new Array(featArr.length);\n    for (let i = 0; i < featArr.length; i++) x[i] = ((Number(featArr[i]) || 0) - (mu[i] || 0)) / (((sc[i] || 1) || 1));\n    return x;\n  };\n  const hitalkPredictBin = (model, featArr) => {\n    const x = hitalkStandardize(model, featArr);\n    const z = hitalkDot(model.coef, x) + (model.intercept || 0);\n    return hitalkSigmoid(z);\n  };\n  const hitalkSma = (arr, w) => {\n    const out = new Array(arr.length).fill(NaN);\n    if (arr.length < w) return out;\n    let sum = 0;\n    for (let i = 0; i < arr.length; i++) {\n      const v = Number(arr[i]);\n      sum += (Number.isFinite(v) ? v : 0);\n      if (i >= w) {\n        const old = Number(arr[i - w]);\n        sum -= (Number.isFinite(old) ? old : 0);\n      }\n      if (i >= w - 1) out[i] = sum / w;\n    }\n    return out;\n  };\n  const hitalkRsi14 = (close) => {\n    const p = 14;\n    const out = new Array(close.length).fill(NaN);\n    if (close.length < p + 1) return out;\n    const up = [];\n    const dn = [];\n    for (let i = 1; i < close.length; i++) {\n      const d = Number(close[i]) - Number(close[i - 1]);\n      up.push(Math.max(d, 0));\n      dn.push(Math.max(-d, 0));\n    }\n    const au = hitalkSma([NaN].concat(up), p);\n    const ad = hitalkSma([NaN].concat(dn), p);\n    for (let i = 0; i < close.length; i++) {\n      if (!Number.isFinite(au[i]) || !Number.isFinite(ad[i])) continue;\n      const rs = (ad[i] === 0) ? 999 : (au[i] / ad[i]);\n      out[i] = 100 - 100 / (1 + rs);\n    }\n    return out;\n  };\n  const hitalkFeaturesFromDaily = (closeD, highD, lowD, volD, idx) => {\n    const n = closeD.length;\n    const i = Math.max(0, Math.min(idx, n - 1));\n    const close = Number(closeD[i]);\n    const prev = i > 0 ? Number(closeD[i - 1]) : NaN;\n    const daily_change = (Number.isFinite(prev) && prev > 0 && close > 0) ? (close / prev - 1) : 0;\n    const sma20 = hitalkSma(closeD, 20);\n    const sma60 = hitalkSma(closeD, 60);\n    const uptrend = (Number.isFinite(sma20[i]) && Number.isFinite(sma60[i]) && sma20[i] > sma60[i]) ? 1 : 0;\n    const rsi = hitalkRsi14(closeD);\n    const rsi14 = Number.isFinite(rsi[i]) ? rsi[i] : 50;\n    const start20 = Math.max(0, i - 20);\n    const start60 = Math.max(0, i - 60);\n    const prev20 = (i - start20 >= 1) ? Math.max.apply(null, highD.slice(start20, i).map(Number)) : NaN;\n    const prev60 = (i - start60 >= 1) ? Math.max.apply(null, highD.slice(start60, i).map(Number)) : NaN;\n    const breakout20 = (Number.isFinite(prev20) && close > prev20) ? 1 : 0;\n    const breakout_ratio = (Number.isFinite(prev20) && prev20 > 0 && close > 0) ? (close / prev20) : 1;\n    const breakout60 = (Number.isFinite(prev60) && close > prev60) ? 1 : 0;\n    const breakout60_ratio = (Number.isFinite(prev60) && prev60 > 0 && close > 0) ? (close / prev60) : 1;\n    const v20 = volD.slice(start20, i).map(Number).filter(Number.isFinite);\n    const vavg20 = v20.length ? (v20.reduce((a, b) => a + b, 0) / v20.length) : NaN;\n    const vtoday = Number(volD[i]);\n    const volume_surge = (Number.isFinite(vavg20) && vavg20 > 0 && Number.isFinite(vtoday)) ? (vtoday / vavg20) : 1;\n    const v5 = volD.slice(Math.max(0, i - 5), i).map(Number).filter(Number.isFinite);\n    const v60 = volD.slice(start60, i).map(Number).filter(Number.isFinite);\n    const vavg5 = v5.length ? (v5.reduce((a, b) => a + b, 0) / v5.length) : NaN;\n    const vavg60 = v60.length ? (v60.reduce((a, b) => a + b, 0) / v60.length) : NaN;\n    const volume_surge5 = (Number.isFinite(vavg5) && vavg5 > 0 && Number.isFinite(vtoday)) ? (vtoday / vavg5) : 1;\n    const volume_surge60 = (Number.isFinite(vavg60) && vavg60 > 0 && Number.isFinite(vtoday)) ? (vtoday / vavg60) : 1;\n    const volume_trend_5_20 = (Number.isFinite(vavg5) && Number.isFinite(vavg20) && vavg20 > 0) ? (vavg5 / vavg20) : 1;\n    const hi = Number(highD[i]);\n    const lo = Number(lowD[i]);\n    const hl = (Number.isFinite(hi) && Number.isFinite(lo)) ? (hi - lo) : 0;\n    const volatility = (close > 0) ? (hl / close) : 0;\n    const retN = (n) => {\n      const j = i - n;\n      const cj = j >= 0 ? Number(closeD[j]) : NaN;\n      return (Number.isFinite(cj) && cj > 0 && close > 0) ? (close / cj - 1) : 0;\n    };\n    const ret5 = retN(5);\n    const ret20 = retN(20);\n    const dist_sma20 = (Number.isFinite(sma20[i]) && sma20[i] > 0 && close > 0) ? (close / sma20[i] - 1) : 0;\n    const dist_sma60 = (Number.isFinite(sma60[i]) && sma60[i] > 0 && close > 0) ? (close / sma60[i] - 1) : 0;\n    const trend_strength = (Number.isFinite(sma20[i]) && Number.isFinite(sma60[i]) && close > 0) ? ((sma20[i] - sma60[i]) / close) : 0;\n    const start14 = Math.max(0, i - 14);\n    const hl14 = highD.slice(start14, i).map((x, k) => Number(x) - Number(lowD[start14 + k]));\n    const hl14f = hl14.filter(Number.isFinite);\n    const atr14 = (hl14f.length && close > 0) ? ((hl14f.reduce((a, b) => a + b, 0) / hl14f.length) / close) : 0;\n    const price = close;\n    return {\n      daily_change, uptrend, rsi14,\n      breakout20, breakout_ratio, breakout60, breakout60_ratio,\n      volume_surge, volume_surge5, volume_surge60, volume_trend_5_20,\n      volatility, atr14, ret5, ret20, dist_sma20, dist_sma60, trend_strength, price\n    };\n  };\n  const hitalkScoreSetups = (closeD, highD, lowD, volD, idx) => {\n    const feats = hitalkFeaturesFromDaily(closeD, highD, lowD, volD, idx);\n    const featArr = HITALK_UP_MODEL.feature_cols.map((k) => Number(feats[k]) || 0);\n    const pUP = hitalkPredictBin(HITALK_UP_MODEL, featArr);\n    const pMAT = hitalkPredictBin(HITALK_MAT_MODEL, featArr);\n    return { pUP, pMAT };\n  };\n  // ===== /HiTalk Setup Models =====\n\n  const NAME = {};\n  const ALL_TICKERS = [];\n  const SEEN_CODES = new Set();\n  let rows = [];\n  let krxUniverseSource = 'live';\n  let krxUniverseError = null;\n\n  const trdDd = `${kst.getUTCFullYear()}${String(kst.getUTCMonth() + 1).padStart(2, '0')}${String(kst.getUTCDate()).padStart(2, '0')}`;\n\n  if (!store.krxState) store.krxState = {};\n  const ks = store.krxState;\n  const nowMs = now.getTime();\n  const circuitUntilMs = ks.circuitUntil ? new Date(ks.circuitUntil).getTime() : 0;\n  const isFirstScan = (h === 9 && m >= 10 && m < 15);\n  const circuitActive = !!(circuitUntilMs && circuitUntilMs > nowMs && ks.circuitDate === today && !isFirstScan);\n  if (isFirstScan && ks.circuitUntil) {\n    delete ks.circuitUntil;\n    delete ks.circuitDate;\n  }\n\n  const openCircuit = (reason) => {\n    const until = new Date(nowMs + 15 * 60 * 1000).toISOString();\n    ks.circuitDate = today;\n    ks.circuitUntil = until;\n    ks.lastFailAt = new Date(nowMs).toISOString();\n    ks.lastFailReason = String(reason || 'unknown');\n  };\n\n  if (store.krxUniverseCache && store.krxUniverseCache.trdDd === trdDd && Array.isArray(store.krxUniverseCache.rows) && store.krxUniverseCache.rows.length) {\n    rows = store.krxUniverseCache.rows;\n    krxUniverseSource = 'cache';\n  } else {\n    krxUniverseSource = 'naver';\n\n    const fetchText = async (url) => {\n      const raw = await http({\n        method: 'GET', url,\n        headers: {\n          'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n          'Referer': 'https://finance.naver.com/', 'Accept': 'text/html', 'Accept-Charset': 'utf-8'\n        },\n        json: false, encoding: 'utf8'\n      });\n      if (Buffer.isBuffer(raw)) return raw.toString('utf8');\n      return String(raw ?? '');\n    };\n\n    const extractCodeNamePairs = (html) => {\n      const out = [];\n      const re = new RegExp('/item/main\\\\.naver\\\\?code=(\\\\d{6})[^>]*>([^<]{1,60})<', 'g');\n      let m;\n      while ((m = re.exec(html))) {\n        out.push([m[1], String(m[2] || '').trim()]);\n      }\n      return out;\n    };\n\n    const codeSet = new Set();\n    const naverRows = [];\n    const MAX_PAGES = 40; // 상위 40 pages (~2000종목/시장) — 전체 시장 커버 (KOSDAQ ~1600종목)\n\n    const fetchAllFromMarket = async (sosok, mktNm) => {\n      let consecutiveErrors = 0;\n      for (let p = 1; p <= MAX_PAGES; p++) {\n        try {\n          const url = `https://finance.naver.com/sise/sise_market_sum.naver?sosok=${sosok}&page=${p}`;\n          const html = await fetchText(url);\n          const pairs = extractCodeNamePairs(html);\n          if (!pairs || pairs.length === 0) break;\n          consecutiveErrors = 0; // 성공 시 오류 카운터 초기화\n          let newStocks = 0;\n          for (const [c, nm] of pairs) {\n            if (!c || codeSet.has(c)) continue;\n            codeSet.add(c);\n            naverRows.push({\n              ISU_SRT_CD: c, ISU_ABBRV: nm || c, ISU_NM: nm || c, MKT_NM: mktNm,\n              TDD_CLSPRC: String(MIN_PRICE),\n              ACC_TRDVAL: String(MIN_INTRADAY_TURNOVER),\n            });\n            newStocks++;\n          }\n          if (newStocks === 0) break;\n          await new Promise((r) => setTimeout(r, 100 + Math.floor(Math.random() * 50)));\n        } catch (e) {\n          consecutiveErrors++;\n          if (consecutiveErrors >= 3) break; // 연속 3회 실패 시 rate-limit으로 판단, 조기 종료\n          await new Promise((r) => setTimeout(r, 500));\n        }\n      }\n    };\n\n    try {\n      await fetchAllFromMarket(0, 'KOSPI');\n      await fetchAllFromMarket(1, 'KOSDAQ');\n      rows = naverRows;\n      if (rows.length > 0) {\n        krxUniverseSource = 'naver';\n        // Naver 종목명을 별도 저장 (KRX 인코딩 깨짐 방지용 — KRX가 캐시 덮어써도 보존)\n        if (store.naverNamesDate !== today) {\n          const nm = {};\n          for (const nr of rows) {\n            const c = String(nr.ISU_SRT_CD || '');\n            const n = String(nr.ISU_ABBRV || nr.ISU_NM || '').trim();\n            if (c && n) nm[c] = n;\n          }\n          store.naverNames = nm;\n          store.naverNamesDate = today;\n        }\n        store.krxUniverseCache = {\n          trdDd, fetchedAt: new Date(nowMs).toISOString(), source: 'naver',\n          rows: rows.slice(0, 5000).map((x) => ({\n            ISU_SRT_CD: String(x?.ISU_SRT_CD || ''), ISU_ABBRV: String(x?.ISU_ABBRV || ''),\n            ISU_NM: String(x?.ISU_NM || ''), MKT_NM: String(x?.MKT_NM || ''),\n            TDD_CLSPRC: String(x?.TDD_CLSPRC || '0'), ACC_TRDVAL: String(x?.ACC_TRDVAL || '0'),\n          })),\n        };\n      } else {\n        krxUniverseError = 'Naver returned 0 rows';\n      }\n    } catch (e) {\n      krxUniverseError = String(e?.message || e);\n    }\n  }\n\n  if (circuitActive) {\n    krxUniverseSource = 'circuit';\n    krxUniverseError = ks.lastFailReason || 'circuit_active';\n  } else {\n    for (let attempt = 0; attempt < 2; attempt++) {\n      try {\n        const headers = {\n          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',\n          Origin: 'https://data.krx.co.kr',\n          Referer: 'https://data.krx.co.kr/contents/MDC/CM/MDI/mdiLoader/index.cmd',\n          'X-Requested-With': 'XMLHttpRequest',\n          'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',\n          'Accept-Language': 'ko-KR,ko;q=0.9,en;q=0.8',\n        };\n        const body = `bld=dbms/MDC/STAT/standard/MDCSTAT01501&mktId=ALL&trdDd=${trdDd}&share=1&money=1&csvxls_isNo=false`;\n        const r = await http({ method: 'POST', url: 'https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd', headers, body, json: true });\n        rows = (r && (r.output || r.OutBlock_1 || [])) || [];\n        if (rows.length > 0) {\n          krxUniverseSource = 'live';\n          store.krxUniverseCache = {\n            trdDd, fetchedAt: new Date(nowMs).toISOString(),\n            rows: rows.slice(0, 5000).map((x) => {\n              const c = String(x?.ISU_SRT_CD || '');\n              // KRX는 EUC-KR 인코딩 문제로 종목명이 깨질 수 있음 → Naver 이름 우선 사용\n              const naverNm = store.naverNames && store.naverNames[c];\n              const krxNm = String(x?.ISU_ABBRV || x?.ISU_NM || '');\n              return {\n                ISU_SRT_CD: c,\n                ISU_ABBRV: naverNm || krxNm,\n                ISU_NM: naverNm || String(x?.ISU_NM || ''),\n                MKT_NM: String(x?.MKT_NM || ''),\n                TDD_CLSPRC: String(x?.TDD_CLSPRC || '0'),\n                ACC_TRDVAL: String(x?.ACC_TRDVAL || '0'),\n              };\n            }),\n          };\n          break;\n        }\n      } catch (e) {\n        krxUniverseError = String(e?.message || e);\n        if (attempt === 1) {\n          openCircuit(krxUniverseError);\n          krxUniverseSource = 'live_failed';\n        }\n        await new Promise((resolve) => setTimeout(resolve, 1200 + Math.floor(Math.random() * 600)));\n      }\n    }\n  }\n\n  // naver fallback (sise_quant: sorted by turnover, top 3 pages)\n  if (!rows || rows.length === 0) {\n    const fetchText = async (url) => {\n      const raw = await http({\n        method: 'GET', url,\n        headers: {\n          'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n          'Referer': 'https://finance.naver.com/', 'Accept': 'text/html', 'Accept-Charset': 'utf-8'\n        },\n        json: false, encoding: 'utf8'\n      });\n      if (Buffer.isBuffer(raw)) return raw.toString('utf8');\n      return String(raw ?? '');\n    };\n\n    const extractCodeNamePairs = (html) => {\n      const out = [];\n      const re = new RegExp('/item/main\\\\.naver\\\\?code=(\\\\d{6})[^>]*>([^<]{1,60})<', 'g');\n      let m;\n      while ((m = re.exec(html))) {\n        out.push([m[1], String(m[2] || '').trim()]);\n      }\n      return out;\n    };\n\n    const MAX_PAGES = 3;\n    const codeSet = new Set();\n    const naverRows = [];\n    const addFromMarket = async (sosok, mktNm) => {\n      for (let p = 1; p <= MAX_PAGES; p++) {\n        try {\n          const url = `https://finance.naver.com/sise/sise_quant.nhn?sosok=${sosok}&page=${p}`;\n          const html = await fetchText(url);\n          const pairs = extractCodeNamePairs(html);\n          if (!pairs || pairs.length === 0) break;\n          let added = 0;\n          for (const [c, nm] of pairs) {\n            if (!c || codeSet.has(c)) continue;\n            codeSet.add(c);\n            naverRows.push({\n              ISU_SRT_CD: c, ISU_ABBRV: nm || c, ISU_NM: nm || c, MKT_NM: mktNm,\n              TDD_CLSPRC: String(MIN_PRICE),\n              ACC_TRDVAL: String(MIN_INTRADAY_TURNOVER),\n            });\n            added++;\n          }\n          if (added === 0) break;\n        } catch (e) {\n          await new Promise((r) => setTimeout(r, 500));\n        }\n        await new Promise((r) => setTimeout(r, 120 + Math.floor(Math.random() * 120)));\n      }\n    };\n\n    try {\n      await addFromMarket(0, 'KOSPI');\n      await addFromMarket(1, 'KOSDAQ');\n      rows = naverRows;\n      if (rows.length > 0) krxUniverseSource = 'naver_fallback';\n    } catch (e) {\n      krxUniverseError = String(e?.message || e);\n    }\n  }\n\n  for (let i = 0; i < rows.length; i++) {\n    const row = rows[i] || {};\n    const rc = normalize(String(row.ISU_SRT_CD || ''));\n    const nm = (store.naverNames && store.naverNames[rc]) || String(row.ISU_ABBRV || row.ISU_NM || '').trim();\n    const mkt = String(row.MKT_NM || '').toLowerCase();\n\n    if (mkt.includes('konex') || mkt.includes('코넥스')) continue;\n\n    const price = Number((row.TDD_CLSPRC || '0').replace(/,/g, ''));\n    const turnover = Number((row.ACC_TRDVAL || '0').replace(/,/g, ''));\n\n    if (!rc || !nm) continue;\n    if (SEEN_CODES.has(rc)) continue;\n    SEEN_CODES.add(rc);\n\n    if (riskSet.has(rc)) { excludedRisk++; continue; }\n    if (themeSet.has(rc)) { excludedTheme++; continue; }\n\n    if (price < MIN_PRICE) continue;\n    if (turnover < MIN_INTRADAY_TURNOVER) continue;\n\n    // 종목명 깨짐 감지: 한글·ASCII 이외의 문자(깨진 EUC-KR 바이트)가 포함된 경우 코드로 대체\n    const isGarbled = (s) => s && !/^[\\uAC00-\\uD7A3\\u1100-\\u11FF\\u3130-\\u318F\\u3200-\\u321F\\uFF01-\\uFF9F\\u4E00-\\u9FFF\\u0020-\\u007E]+$/.test(s);\n    NAME[rc] = isGarbled(nm) ? rc : nm;\n    let suffix = '.KS';\n    if (mkt.includes('kosdaq') || mkt.includes('코스닥')) suffix = '.KQ';\n    ALL_TICKERS.push(rc + suffix);\n  }\n\n  if (ALL_TICKERS.length === 0) {\n    if (!store.swingAlerts) store.swingAlerts = {};\n    const msg = '[시스템 경고] KRX 종목 데이터 로드 실패' + NL + kst.toISOString().slice(0, 16).replace('T', ' ') + ' KST';\n    store.swingAlerts.noHitDate = today;\n    try {\n      await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } });\n    } catch (e) {}\n    return [{ json: { error: 'Failed to load KRX universe' } }];\n  }\n\n  // ===== API / Cache Setup =====\n  let naverOkCount = 0;\n  let naverNoResultCount = 0;\n  let naverErrorCount = 0;\n  const naverErrorByStatus = {};\n  const naverErrorSamples = [];\n  let naverRawSample = null; // Naver 실제 응답 진단용 (비정상 응답 첫 1건 캡처)\n  const pickStatus = (e) => {\n    const s = e?.statusCode ?? e?.response?.statusCode ?? e?.response?.status ?? e?.httpCode ?? e?.cause?.statusCode;\n    const n = Number(s);\n    return Number.isFinite(n) ? n : null;\n  };\n\n  const sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n  const dayKey = new Date(Date.now() + 9 * 3600000).toISOString().slice(0, 10);\n  // n8n static data 중첩 객체 변경 보장: 최상위 키 재할당\n  if (!store.naverCache || store.naverCache.dayKey !== dayKey) {\n    store.naverCache = { daily: {}, dayKey };\n  }\n  const naverCache = store.naverCache;\n  const getCached = (bucket, key, maxAgeMs) => {\n    const v = bucket[key];\n    if (!v) return null;\n    if (Date.now() - v.at > maxAgeMs) return null;\n    return v.data;\n  };\n  const setCached = (bucket, key, data) => { bucket[key] = { at: Date.now(), data }; };\n\n  // Naver chart API v1: api.stock.naver.com (YYYYMMDDHHMMSS 형식)\n  const fetchDaily = async (code, startDate, endDate) => {\n    // 날짜를 YYYYMMDDHHMMSS 형식으로 변환 (8자리면 000000 추가)\n    const sd = startDate.length === 8 ? startDate + '000000' : startDate;\n    const ed = endDate.length === 8 ? endDate + '235959' : endDate;\n    const url = `https://api.stock.naver.com/chart/domestic/item/${code}/day?startDateTime=${sd}&endDateTime=${ed}`;\n    return await http({\n      method: 'GET', url, json: true,\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n        'Referer': 'https://finance.naver.com/',\n        'Accept': 'application/json', 'Accept-Charset': 'utf-8', 'Accept-Language': 'ko-KR,ko;q=0.9,en;q=0.8'\n      },\n      encoding: 'utf8'\n    });\n  };\n\n  // Naver chart API v2: fchart.stock.naver.com (대체 소스, 텍스트 파싱)\n  const fetchDailyFchart = async (code, count) => {\n    const url = `https://fchart.stock.naver.com/sise.nhn?symbol=${code}&timeframe=day&count=${count}&requestType=0`;\n    const raw = await http({\n      method: 'GET', url, json: false,\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n        'Referer': 'https://finance.naver.com/',\n        'Accept': 'text/plain,*/*', 'Accept-Charset': 'utf-8'\n      },\n      encoding: 'utf8'\n    });\n    const text = Buffer.isBuffer(raw) ? raw.toString('utf8') : String(raw || '');\n    // 응답 형식: ...^20260226|시가|고가|저가|종가|거래량^...\n    const rows = text.split('^').map(s => s.trim()).filter(s => /^\\d{8}\\|/.test(s));\n    if (!rows.length) return null;\n    return rows.map(row => {\n      const p = row.split('|');\n      return {\n        localDate: p[0], openPrice: Number(p[1]), highPrice: Number(p[2]),\n        lowPrice: Number(p[3]), closePrice: Number(p[4]), accumulatedTradingVolume: Number(p[5] || 0)\n      };\n    }).filter(r => r.closePrice > 0 && /^\\d{8}$/.test(r.localDate));\n  };\n\n  // 전일 거래일 날짜 계산 (주말/공휴일 제외) — 장중 당일을 endDate로 쓰면 Naver API가 빈 배열 반환\n  const getPrevTradingDay = () => {\n    let d = new Date(Date.now() + 9 * 3600000 - 24 * 3600000);\n    for (let i = 0; i < 10; i++) {\n      const dow = d.getUTCDay();\n      const ds = d.toISOString().slice(0, 10);\n      if (dow >= 1 && dow <= 5 && !HOLIDAYS.includes(ds)) return ds.replace(/-/g, '');\n      d = new Date(d.getTime() - 24 * 3600000);\n    }\n    return new Date(Date.now() + 9 * 3600000 - 24 * 3600000).toISOString().slice(0, 10).replace(/-/g, '');\n  };\n  const prevTradingDay = getPrevTradingDay(); // e.g. '20260226'\n\n  // 응답 배열을 chart 포맷으로 변환\n  const respToChart = (resp, t) => {\n    const timestamps = resp.map(d => new Date(d.localDate.slice(0,4) + '-' + d.localDate.slice(4,6) + '-' + d.localDate.slice(6,8)).getTime() / 1000);\n    const opens = resp.map(d => d.openPrice);\n    const highs = resp.map(d => d.highPrice);\n    const lows = resp.map(d => d.lowPrice);\n    const closes = resp.map(d => d.closePrice);\n    const volumes = resp.map(d => d.accumulatedTradingVolume);\n    return { chart: { result: [{ meta: { symbol: t, currency: 'KRW', regularMarketPrice: closes[closes.length - 1] }, timestamp: timestamps, indicators: { quote: [{ open: opens, high: highs, low: lows, close: closes, volume: volumes }] } }], error: null } };\n  };\n\n  const httpDaily = async (t) => {\n    const code = t.replace(/\\.KS$/, '').replace(/\\.KQ$/, '');\n    const cached = getCached(naverCache.daily, code, 60 * 60 * 1000);\n    if (cached) return cached;\n    try {\n      const kstNow = new Date(Date.now() + 9 * 3600000);\n      // endDate = 전일 거래일 (당일 장중 날짜 사용 시 Naver API 빈 배열 반환 방지)\n      const endDate = prevTradingDay;\n      const startKst = new Date(kstNow.getTime() - 365 * 24 * 3600000);\n      const startDate = startKst.toISOString().slice(0, 10).replace(/-/g, '');\n\n      // [1차] api.stock.naver.com (365일)\n      let resp = await fetchDaily(code, startDate, endDate);\n\n      // 실제 응답 샘플 캡처 (비정상 응답 진단용, 첫 1건만)\n      if ((!Array.isArray(resp) || resp.length === 0) && !naverRawSample) {\n        try { naverRawSample = JSON.stringify(resp).slice(0, 300); } catch(_) { naverRawSample = String(resp).slice(0, 300); }\n      }\n\n      // [2차] api.stock.naver.com (180일, 재시도)\n      if (!Array.isArray(resp) || resp.length === 0) {\n        await sleep(200);\n        const startKstAlt = new Date(kstNow.getTime() - 180 * 24 * 3600000);\n        const startDateAlt = startKstAlt.toISOString().slice(0, 10).replace(/-/g, '');\n        resp = await fetchDaily(code, startDateAlt, endDate);\n      }\n\n      // [3차] fchart.stock.naver.com (대체 API 폴백)\n      if (!Array.isArray(resp) || resp.length === 0) {\n        await sleep(300);\n        const fchartResp = await fetchDailyFchart(code, 300);\n        if (fchartResp && fchartResp.length > 0) {\n          const chart = respToChart(fchartResp, t);\n          setCached(naverCache.daily, code, chart);\n          return chart;\n        }\n      }\n\n      if (!Array.isArray(resp) || resp.length === 0) {\n        if (cached) return cached;\n        return { chart: { result: null, error: { description: 'No data from Naver' } } };\n      }\n      const chart = respToChart(resp, t);\n      setCached(naverCache.daily, code, chart);\n      return chart;\n    } catch (e) {\n      const status = e?.statusCode ?? e?.response?.statusCode ?? e?.response?.status;\n      if (status === 400 || status === 404) {\n        const emptyResult = { chart: { result: null, error: { description: `Invalid code: ${status}` } } };\n        setCached(naverCache.daily, code, emptyResult);\n        return emptyResult;\n      }\n      if (cached) return cached;\n      return { chart: { result: null, error: { description: String(e?.message || e) } } };\n    }\n  };\n\n  // ===== SCANNING: Daily-Only Pass (rate-limiting 방지) =====\n  const candidates = [];\n  const BATCH_SIZE = 10;\n  const BATCH_DELAY_MS = 600; // Naver API rate-limiting 방지\n\n  const _EXEC_START = Date.now();\n  const _MAX_EXEC_MS = 9 * 60 * 1000; // 9분 제한\n\n  for (let i = 0; i < ALL_TICKERS.length; i += BATCH_SIZE) {\n    if (Date.now() - _EXEC_START > _MAX_EXEC_MS) break;\n\n    const batch = ALL_TICKERS.slice(i, i + BATCH_SIZE);\n    await Promise.all(batch.map(async (t) => {\n      try {\n        if (store.swingSent[t]) return;\n\n        const cDaily = await httpDaily(t);\n        const errDaily = cDaily?.chart?.error?.description;\n        const noDataDaily = errDaily && String(errDaily).includes('No data from Naver');\n\n        if (errDaily && !noDataDaily) {\n          naverErrorCount++;\n          if (naverErrorSamples.length < 3) {\n            naverErrorSamples.push({ ticker: t, intra: null, daily: errDaily });\n          }\n        }\n\n        const rDaily = cDaily?.chart?.result?.[0];\n        if (!rDaily) { naverNoResultCount++; return; }\n        naverOkCount++;\n\n        const qD = rDaily.indicators?.quote?.[0] || {};\n        const rawClose = (qD.close  || []).map(Number);\n        const rawHigh  = (qD.high   || []).map(Number);\n        const rawLow   = (qD.low    || []).map(Number);\n        const rawVol   = (qD.volume || []).map(Number);\n        // closeD/highD/lowD/volD를 동일 기준 인덱스로 정렬 (independent filter 시 배열 불일치 방지)\n        const validIdx = rawClose.map((_, i) => i).filter(i => rawClose[i] > 0 && rawHigh[i] > 0 && rawLow[i] > 0);\n        const closeD = validIdx.map(i => rawClose[i]);\n        const highD  = validIdx.map(i => rawHigh[i]);\n        const lowD   = validIdx.map(i => rawLow[i]);\n        const volD   = validIdx.map(i => (Number.isFinite(rawVol[i]) ? Math.max(0, rawVol[i]) : 0));\n\n        if (closeD.length < 60) return;\n\n        const dIdx = closeD.length - 1;\n        const currentPrice = closeD[dIdx]; // 전일 종가 (daily-only)\n        const prevClose = closeD[dIdx - 1] || currentPrice;\n        const dailyChange = prevClose > 0 ? (currentPrice / prevClose - 1) : 0;\n\n        if (currentPrice < MIN_PRICE) return;\n\n        // 최소 거래량 체크 (저유동성 제외)\n        const avg5Vol = volD.slice(Math.max(0, dIdx - 5), dIdx).reduce((a, b) => a + b, 0) / 5;\n        if (avg5Vol < MIN_AVG5_VOLUME) return;\n\n        const sma20_d = sma(closeD, 20);\n        const sma60_d = sma(closeD, 60);\n\n        // ===== 사전 계산: 새 지표 =====\n\n        // [1] RSI14 필터 (45-80 진입 구간)\n        const rsi14Val = calcRSI14(closeD, dIdx);\n        if (Number.isFinite(rsi14Val)) {\n          if (rsi14Val < RSI_MIN_ENTRY) return; // 모멘텀 부족\n          if (rsi14Val > RSI_MAX_ENTRY) return; // 과매수 → 3일 내 되돌림 위험\n        }\n\n        // [2] ADX(14) 추세 강도 필터\n        const adxResult = calcADX(highD, lowD, closeD, dIdx, 14);\n        if (Number.isFinite(adxResult.adx) && adxResult.adx < ADX_TREND_MIN) return; // 횡보장 차단\n\n        // [3] RVOL 상대 거래량 계산\n        const vol20Avg = volD.slice(Math.max(0, dIdx - 20), dIdx).reduce((a, b) => a + b, 0) / Math.min(20, dIdx);\n        const rvolVal = vol20Avg > 0 ? volD[dIdx] / vol20Avg : 0;\n        if (rvolVal < 1.0) return; // D-grade: 평균 미달 거래량 → 노이즈 차단\n\n        // [4] EMA5/EMA10 계산 (단기 정배열용)\n        const ema5 = ema(closeD, 5);\n        const ema10 = ema(closeD, 10);\n\n        // [5] 52주 고점 근접도 (PTH)\n        const high252 = Math.max(...highD.slice(Math.max(0, dIdx - 252), dIdx + 1).map(Number));\n        const pth = high252 > 0 ? currentPrice / high252 : 0;\n\n        // ===== 스코어링 =====\n        let score = 0;\n        const signals = [];\n\n        // 필수 조건: 일봉 정배열 (SMA20 > SMA60)\n        const dailyUptrend = sma20_d[dIdx] > sma60_d[dIdx];\n        if (!dailyUptrend) return;\n        score += 15;\n        signals.push('일봉정배열');\n\n        // 20일 박스권 돌파\n        const recent20High = Math.max(...highD.slice(Math.max(0, dIdx - 20), dIdx));\n        if (currentPrice > recent20High) {\n          score += 35;\n          signals.push('박스권돌파(20일)');\n        }\n\n        // N자형 눌림목\n        const recent10High = Math.max(...highD.slice(Math.max(0, dIdx - 10), dIdx));\n        if (recent10High > currentPrice * 1.15 && Math.abs(currentPrice - sma20_d[dIdx]) / currentPrice < 0.03) {\n          score += 40;\n          signals.push('N자형눌림목');\n        }\n\n        // 컵앤핸들 패턴\n        const cupHandle = detectCupAndHandle(closeD, highD, lowD, dIdx);\n        if (cupHandle.detected) {\n          score += 40;\n          signals.push('컵핸들');\n        }\n\n        // [NEW-1] RVOL 등급 점수 (Reddit: A-grade 53.5% 승률)\n        if (rvolVal >= RVOL_GRADE_A) {\n          score += 25;\n          signals.push('거래량급증(A)');\n        } else if (rvolVal >= RVOL_GRADE_B) {\n          score += 20;\n          signals.push('거래량급증(B)');\n        } else if (rvolVal >= RVOL_GRADE_C) {\n          score += 10;\n          signals.push('거래량증가(C)');\n        }\n\n        // [NEW-2] ADX 추세 강도 보너스\n        if (Number.isFinite(adxResult.adx) && adxResult.adx > 25 && adxResult.plusDI > adxResult.minusDI) {\n          score += 10;\n          signals.push('강추세(ADX)');\n        }\n\n        // [NEW-3] RSI 모멘텀 구간 보너스 (65-75 = 강한 상승 모멘텀)\n        if (Number.isFinite(rsi14Val) && rsi14Val >= 65 && rsi14Val <= 75) {\n          score += 10;\n          signals.push('RSI모멘텀');\n        }\n\n        // [NEW-4] 52주 고점 근접도 보너스 (PTH)\n        if (pth >= 0.95) {\n          score += 25;\n          signals.push('신고가근접(PTH)');\n        } else if (pth >= 0.90) {\n          score += 15;\n          signals.push('52주고점근접');\n        }\n\n        // [NEW-5] EMA 단기 정배열 (EMA5 > EMA10 > SMA20)\n        if (Number.isFinite(ema5[dIdx]) && Number.isFinite(ema10[dIdx]) &&\n            ema5[dIdx] > ema10[dIdx] && ema10[dIdx] > sma20_d[dIdx]) {\n          score += 15;\n          signals.push('단기정배열(EMA)');\n        }\n\n        // ===== Stock Skills 보강 지표 =====\n        // [STOCK-1] MACD 모멘텀 신호 (골든크로스 / 히스토그램 방향)\n        const macdResult = calcMACD(closeD, dIdx);\n        if (macdResult.goldenCross) {\n          score += 15;\n          signals.push('MACD골든크로스');\n        } else if (Number.isFinite(macdResult.hist) && macdResult.hist > 0) {\n          if (Number.isFinite(macdResult.histPrev) && macdResult.hist > macdResult.histPrev) {\n            score += 10;\n            signals.push('MACD모멘텀↑');\n          } else {\n            score += 5;\n            signals.push('MACD양호');\n          }\n        } else if (Number.isFinite(macdResult.hist) && Number.isFinite(macdResult.histPrev) &&\n                   macdResult.hist < 0 && macdResult.histPrev < 0) {\n          score -= 10; // 지속 하락 모멘텀 패널티\n        }\n\n        // [STOCK-2] Bollinger Bands — 스퀴즈 돌파 / 모멘텀 구간\n        // QA FIX: 스퀴즈 판정 강화 — 5일 전 폭이 10일 전보다 좁았어야(압축) 진짜 스퀴즈\n        const bbNow   = calcBB(closeD, dIdx);\n        const bbPrev5 = calcBB(closeD, Math.max(0, dIdx - 5));\n        const bbPrev10 = calcBB(closeD, Math.max(0, dIdx - 10));\n        if (Number.isFinite(bbNow.width) && Number.isFinite(bbPrev5.width) && bbPrev5.width > 0) {\n          const isSqueeze = Number.isFinite(bbPrev10.width) && bbPrev5.width < bbPrev10.width; // 압축 확인\n          if (bbNow.width > bbPrev5.width * 1.3 && isSqueeze) {\n            // 압축 후 폭발: 진짜 스퀴즈 돌파\n            score += 15;\n            signals.push('BB스퀴즈돌파');\n          } else if (Number.isFinite(bbNow.zScore) && bbNow.zScore >= 0.3 && bbNow.zScore <= 1.5) {\n            // 중심선~상단 사이 (모멘텀 우호 구간)\n            score += 8;\n            signals.push('BB모멘텀구간');\n          }\n        }\n\n        // [STOCK-3] OBV 수급 확인 (가격-거래량 다이버전스 탐지)\n        const obvResult = calcOBV(closeD, volD, dIdx);\n        if (obvResult.obvTrend === 1) {\n          score += 20;\n          signals.push('OBV수급확인');\n        } else if (obvResult.obvTrend === -1) {\n          score -= 10; // 수급 없는 상승 → 경고\n          signals.push('OBV수급불일치');\n        }\n\n        // [STOCK-4] SMA5 완전 정배열 (5 > 20 > 60)\n        const sma5_d = sma(closeD, 5);\n        if (Number.isFinite(sma5_d[dIdx]) && sma5_d[dIdx] > sma20_d[dIdx]) {\n          score += 5;\n          signals.push('완전정배열(5>20>60)');\n        }\n\n        // [STOCK-5] 복합 확인 신호 — MACD 골든크로스 + 정배열 + OBV 수급 동시 충족\n        if (macdResult.goldenCross && dailyUptrend && obvResult.obvTrend === 1) {\n          score += 10;\n          signals.push('복합확인신호');\n        }\n        // ===== /Stock Skills 보강 지표 =====\n\n        if (score < RELAX_SCORE) return;\n\n        // HiTalk AI 모델 (daily features 전용)\n        const setup = hitalkScoreSetups(closeD, highD, lowD, volD, dIdx);\n        const pMAT = setup.pMAT;\n\n        if (pMAT < PMAT_RELAX) return;\n\n        const strictPass = (pMAT >= PMAT_STRICT) && (score >= MIN_SCORE);\n        const relaxedPass = (pMAT >= PMAT_RELAX) && (score >= RELAX_SCORE);\n        if (!strictPass) signals.push('완화');\n\n        const rankScore = pMAT * 100 + score;\n        const predType = '재료';\n        const predProb = pMAT;\n\n        const atrAbs = calcAtrAbs(highD, lowD, dIdx, ATR_WINDOW);\n        let stop = currentPrice - atrAbs * ATR_STOP_MULT;\n        let target = currentPrice + atrAbs * ATR_TARGET_MULT;\n        const stopCap = currentPrice * (1 - CAP_STOP_PCT);\n        const targetCap = currentPrice * (1 + CAP_TARGET_PCT);\n        if (Number.isFinite(stopCap)) stop = Math.max(stop, stopCap);\n        if (Number.isFinite(targetCap)) target = Math.min(target, targetCap);\n\n        // [NEW-6] 3% 최저 목표가 보장 + R:R 1.5 필터\n        target = Math.max(target, currentPrice * (1 + MIN_TARGET_PCT));\n        const rr = (stop > 0 && currentPrice > stop) ? (target - currentPrice) / (currentPrice - stop) : 0;\n        if (rr < MIN_RR_RATIO) return; // 불리한 R:R 차단\n\n        const rg = await getMarketRegime(store, today);\n        const riskOn = !!(rg && rg.riskOn);\n        const sizeFactor = riskOn ? 1.0 : 0.5;\n        const qty = calcQty(ACCOUNT_KRW, RISK_PCT_PER_TRADE * sizeFactor, currentPrice, stop);\n\n        const code = normalize(getCode(t));\n        const name = NAME[code] || code;\n        const mkt = t.endsWith('.KS') ? 'KOSPI' : 'KOSDAQ';\n\n        candidates.push({\n          ticker: t, code, name, market: mkt,\n          entry: currentPrice, target, stop,\n          score, signals, dailyChange, currentPrice, prevClose,\n          timeStr: timeStrNow, type: '스윙', predType, predProb,\n          rankScore, atrAbs, riskOn, qty, strictPass, relaxedPass,\n        });\n      } catch (e) {\n        naverErrorCount++;\n        const st = pickStatus(e);\n        const key = String(st || 'ERR');\n        naverErrorByStatus[key] = (naverErrorByStatus[key] || 0) + 1;\n        if (naverErrorSamples.length < 3) {\n          naverErrorSamples.push({ ticker: t, status: st, message: (e?.message || String(e)).slice(0, 180) });\n        }\n      }\n    }));\n    await sleep(BATCH_DELAY_MS); // Rate-limiting 방지 딜레이\n  }\n\n  // 스캔 완료 후 per-stock 캐시 제거 (1,500종목 × ~20KB = ~30MB 메모리 누적 방지)\n  // _lastFullFinish 가드로 재실행이 차단되므로 캐시 재사용 가능성 없음\n  if (store.naverCache) store.naverCache.daily = {};\n\n  // ===== 에러/경고 알림 =====\n  // swingSent skip 종목은 fetch 자체를 안 하므로 실제 fetch 수 기준으로 비교\n  const totalFetched = naverOkCount + naverNoResultCount + naverErrorCount;\n  const noResultAll = (totalFetched > 0 && naverOkCount === 0 && naverNoResultCount === totalFetched);\n  const alertHour = kst.getUTCHours();\n  const alertMin = kst.getUTCMinutes();\n  const isMarketTimeForAlert = (alertHour > 9 || (alertHour === 9 && alertMin >= 5)) &&\n                               (alertHour < 15 || (alertHour === 15 && alertMin < 25));\n  if (noResultAll && isMarketTimeForAlert) {\n    if (!store.naverAlerts) store.naverAlerts = {};\n    if (store.naverAlerts.noResultAllDate !== today) {\n      const rawInfo = naverRawSample ? naverRawSample.slice(0, 200) : 'null';\n      const msg =\n        '⚠️ [데이터 경고] Naver 응답이 전 종목 빈 결과' + NL +\n        `- KST: ${today} ${timeStrNow}` + NL +\n        `- universe: ${ALL_TICKERS.length}` + NL +\n        `- Naver OK/NoResult/Error: ${naverOkCount}/${naverNoResultCount}/${naverErrorCount}` + NL +\n        `- prevTradingDay: ${prevTradingDay}` + NL +\n        `- rawSample: ${rawInfo}`;\n      try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n      store.naverAlerts.noResultAllDate = today;\n    }\n  }\n  if (naverErrorCount > 0) {\n    if (!store.naverAlerts) store.naverAlerts = {};\n    const last = Number(store.naverAlerts.lastErrorAt || 0);\n    const nowMs2 = Date.now();\n    if (nowMs2 - last > 30 * 60 * 1000) {\n      const sample = (naverErrorSamples && naverErrorSamples.length) ? JSON.stringify(naverErrorSamples.slice(0, 2)) : 'none';\n      const msg =\n        '⚠️ [데이터 오류] 스캔 중 에러 발생' + NL +\n        `- KST: ${today} ${timeStrNow}` + NL +\n        `- Naver OK/NoResult/Error: ${naverOkCount}/${naverNoResultCount}/${naverErrorCount}` + NL +\n        `- sample: ${sample}`;\n      try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n      store.naverAlerts.lastErrorAt = nowMs2;\n    }\n  }\n\n  // ===== 후보 선정 =====\n  candidates.sort((a, b) => (b.rankScore || b.score) - (a.rankScore || a.score));\n  const strictSelected = candidates.filter((c) => c.strictPass).slice(0, MAX_INTRADAY_SENDS);\n  const selected = strictSelected.slice();\n  if (selected.length < MIN_DAILY_PICKS) {\n    const need = Math.min(MIN_DAILY_PICKS - selected.length, MAX_INTRADAY_SENDS - selected.length);\n    if (need > 0) {\n      const used = new Set(selected.map((x) => x.ticker));\n      const fillers = candidates.filter((c) => !used.has(c.ticker) && c.relaxedPass).slice(0, need);\n      for (const f of fillers) selected.push(f);\n    }\n  }\n\n  const sent = [];\n  let sendFailCount = 0;\n  const sendFailSamples = [];\n\n  const send = async (c) => {\n    const kstNow = new Date(Date.now() + 9 * 60 * 60 * 1000);\n    const timeStr = String(kstNow.getUTCHours()).padStart(2, '0') + ':' + String(kstNow.getUTCMinutes()).padStart(2, '0');\n\n    const dailyChangeText = Number.isFinite(c.dailyChange) ? ' (전일 대비 ' + pct(c.dailyChange) + ')' : '';\n\n    const msg =\n      '[스윙 포착] ' + c.market + ' | ' + esc(c.name) + '(' + c.code + ')' + NL +\n      '포착 시각: ' + timeStr + ' KST' + NL +\n      '예측유형: ' + (c.predType || 'N/A') + (c.predProb ? ' (' + Math.round(c.predProb * 100) + '%)' : '') + NL +\n      '기준가: ' + to0(c.entry) + '원' + dailyChangeText + NL +\n      '- 매수가: ' + to0(c.entry) + '원 (전일종가 기준, 시초가 확인 필수)' + NL +\n      '- 목표가: ' + to0(c.target) + '원 (+' + pct(c.target / c.entry - 1) + ')' + NL +\n      '- 손절가: ' + to0(c.stop) + '원 (-' + pct(1 - c.stop / c.entry) + ')' + NL +\n      '레짐: ' + (c.riskOn ? '양호' : '주의(사이징 50%)') + NL +\n      'ATR(14): ' + (Number.isFinite(c.atrAbs) ? (to0(c.atrAbs) + '원') : 'N/A') + NL +\n      '권장수량: ' + (c.qty ? (to0(c.qty) + '주 (약 ' + to0(c.qty * c.entry) + '원)') : '0주(계좌/리스크 설정 확인)') + NL +\n      '- 점수: ' + c.score + '점' + NL +\n      '핵심 시그널: ' + (c.signals.slice(0, 3).join(', ') || 'N/A') + NL +\n      '면책: 본 알림은 정보 제공 목적이며 투자 손익은 본인 책임입니다.';\n\n    try {\n      await http({\n        method: 'POST',\n        url: 'https://api.telegram.org/bot' + BOT + '/sendMessage',\n        json: true,\n        body: { chat_id: CHAT, text: msg, parse_mode: 'HTML' },\n      });\n      return { entry: c.entry, target: c.target, stop: c.stop };\n    } catch (e) {\n      sendFailCount++;\n      if (sendFailSamples.length < 3) sendFailSamples.push({ ticker: c.ticker, message: String(e?.message || e) });\n      return null;\n    }\n  };\n\n  for (let i = 0; i < selected.length; i++) {\n    const res = await send(selected[i]);\n    if (res) {\n      store.swingSent[selected[i].ticker] = now.getTime();\n\n      const today2 = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth() + 1).padStart(2, '0')}-${String(kst.getUTCDate()).padStart(2, '0')}`;\n      if (!store.weeklyRecommendations) store.weeklyRecommendations = {};\n      if (!store.weeklyRecommendations[today2]) store.weeklyRecommendations[today2] = [];\n\n      store.weeklyRecommendations[today2].push({\n        type: 'swing', subType: selected[i].type,\n        ticker: selected[i].ticker, code: selected[i].code, name: selected[i].name,\n        entry: res.entry, target: res.target, stop: res.stop,\n        holdingDays: 3, score: selected[i].score,\n      });\n\n      sent.push(selected[i].ticker);\n      await new Promise((resolve) => setTimeout(resolve, 1000));\n    }\n  }\n\n  if (sendFailCount > 0) {\n    if (!store.telegramAlerts) store.telegramAlerts = {};\n    const last = Number(store.telegramAlerts.swingSendFailAt || 0);\n    const nowMs3 = Date.now();\n    if (nowMs3 - last > 30 * 60 * 1000) {\n      const sample = (sendFailSamples && sendFailSamples.length) ? JSON.stringify(sendFailSamples.slice(0, 2)) : 'none';\n      const msg = '⚠️ [발송 오류] 스윙 알림 전송 실패' + NL +\n        `- KST: ${today} ${timeStrNow}` + NL +\n        `- failCount: ${sendFailCount}` + NL +\n        `- sample: ${sample}`;\n      try { await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } }); } catch (e) {}\n      store.telegramAlerts.swingSendFailAt = nowMs3;\n    }\n  }\n\n  if (selected.length === 0) {\n    if (!store.swingAlerts) store.swingAlerts = {};\n    if (store.swingAlerts.noHitDate === today) return [{ json: { skipped: true, reason: 'No hit (already notified today)' } }];\n    const msg =\n      '[스윙 스캔 완료] 추천 종목 없음' + NL +\n      '- 분석 종목(필터 후): ' + ALL_TICKERS.length + '개' + NL +\n      '- 후보: ' + candidates.length + '개' + NL +\n      '- 제외(리스크): ' + excludedRisk + '개' + NL +\n      '- 제외(테마): ' + excludedTheme + '개' + NL +\n      '- Naver OK/NoResult/Error: ' + naverOkCount + '/' + naverNoResultCount + '/' + naverErrorCount + NL +\n      '- KST: ' + today + ' ' + timeStrNow;\n    try {\n      await http({ method: 'POST', url: 'https://api.telegram.org/bot' + BOT + '/sendMessage', json: true, body: { chat_id: CHAT, text: msg } });\n    } catch (e) {}\n    store.swingAlerts.noHitDate = today;\n  }\n\n  store.swingMeta._lastFullFinish = Date.now();\n  return [{\n    json: {\n      scanTime: kst.toISOString(),\n      totalUniverse: ALL_TICKERS.length,\n      candidates: candidates.length,\n      sent: sent.length,\n      sentTickers: sent,\n      excludedRisk, excludedTheme,\n      riskCacheAt, themeCacheAt,\n      naverOkCount, naverNoResultCount, naverErrorCount,\n      naverErrorByStatus, naverErrorSamples,\n    },\n  }];\n};\n\nreturn run();\n"
      },
      "id": "349401ad-2fe8-497a-be4b-203d17915e3f",
      "name": "Swing Scanner",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5776,
        2048
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 10 * * 6"
            }
          ]
        }
      },
      "id": "7f7fa6ed-9bf3-47cf-93b9-fe369926a792",
      "name": "Weekly Trigger (Sat 10:00)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        5344,
        2256
      ]
    },
    {
      "parameters": {
        "functionCode": "const run = async function () {\n  const BOT = '8366696724:AAHROcjGoQEn9BziD-sYdAu3ZuaolwtkgLE';\n  const CHAT = '523002062';\n  const http = async (o) => await this.helpers.httpRequest(Object.assign({ timeout: 30000 }, o));\n  const NL = String.fromCharCode(10);\n  const to0 = (n) => Math.round(Number(n)||0).toLocaleString('ko-KR');\n  const pct = (r) => ((r*100).toFixed(1) + '%');\n  const HOLIDAYS = ['2025-01-01','2025-01-28','2025-01-29','2025-01-30','2025-03-01','2025-03-03','2025-05-05','2025-05-06','2025-06-06','2025-08-15','2025-10-03','2025-10-06','2025-10-07','2025-10-08','2025-10-09','2025-12-25','2026-01-01','2026-02-16','2026-02-17','2026-02-18','2026-03-01','2026-03-02','2026-05-05','2026-05-24','2026-05-25','2026-06-03','2026-06-06','2026-08-15','2026-08-17','2026-09-24','2026-09-25','2026-09-26','2026-10-03','2026-10-05','2026-10-09','2026-12-25'];\n  const now = new Date();\n  const kst = new Date(now.getTime() + 9*60*60*1000);\n  const today = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth()+1).padStart(2,'0')}-${String(kst.getUTCDate()).padStart(2,'0')}`;\n  if (HOLIDAYS.includes(today)) return [{ json: { skipped: true, reason: 'Holiday (KRX closed)', today } }];\n  const getWeekDates = (ref) => { const dates = []; const d = new Date(ref); const dow = d.getUTCDay(); const daysToFri = (dow === 6) ? 1 : (dow + 2); const friday = new Date(d.getTime() - daysToFri*24*60*60*1000); for (let i=4;i>=0;i--){ const cur = new Date(friday.getTime() - i*24*60*60*1000); const ds = `${cur.getUTCFullYear()}-${String(cur.getUTCMonth()+1).padStart(2,'0')}-${String(cur.getUTCDate()).padStart(2,'0')}`; const wd = cur.getUTCDay(); if (wd>=1 && wd<=5 && !HOLIDAYS.includes(ds)) dates.push(ds); } return dates; };\n  const input = items && items[0] && items[0].json || {};\n  const forceTest = !!input.forceTest;\n  if (forceTest) {\n    const msg = '[주간 리포트 테스트] 시스템 정상 작동 - ' + kst.toISOString().slice(0,16).replace('T',' ') + ' KST';\n    try { await http({ method:'POST', url:'https://api.telegram.org/bot'+BOT+'/sendMessage', json:true, body:{ chat_id:CHAT, text:msg } }); } catch(e) {}\n    return [{ json: { testSent: true } }];\n  }\n\n  const store = this.getWorkflowStaticData('global');\n  if (!store.weeklyRecommendations) store.weeklyRecommendations = {};\n  const weekDates = getWeekDates(kst);\n  if (weekDates.length === 0) return [{ json: { skipped: true } }];\n  \n  const recs = [];\n  for (const ds of weekDates){ const arr = store.weeklyRecommendations[ds] || []; for (const r of arr){ if (r.type==='scalping' || r.type==='swing') recs.push({ ...r, date: ds }); }}\n  if (recs.length === 0) { const msg = '📊 주간 성과 리포트'+NL+NL+'📅 대상: ' + weekDates[0] + ' ~ ' + weekDates[weekDates.length-1] + NL + NL + '추천 없음'; try{ await http({ method:'POST', url:'https://api.telegram.org/bot'+BOT+'/sendMessage', json:true, body:{ chat_id:CHAT, text:msg } }); }catch(e){} return [{ json: { sent: true, count: 0 } }]; }\n\n  // Calculate Returns\n  let wins = 0;\n  let totalReturn = 0;\n  const details = [];\n  \n  const httpDaily = async (t)=> await http({ method: 'GET', url: 'https://query1.finance.yahoo.com/v8/finance/chart/' + t + '?range=1mo&interval=1d', json: true });\n  \n  for (const r of recs) {\n      try {\n          const cDaily = await httpDaily(r.ticker);\n          const res = cDaily && cDaily.chart && cDaily.chart.result && cDaily.chart.result[0];\n          if (!res) { details.push({ ...r, maxReturn: 0, finalReturn: 0 }); continue; }\n          const quotes = res.indicators.quote[0];\n          const timestamps = res.timestamp;\n          const highs = quotes.high;\n          const closes = quotes.close;\n          \n          let maxR = 0;\n          let finalR = 0;\n          \n          // Find index of recommendation date\n          const recDateStr = r.date;\n          let startIdx = -1;\n          for(let i=0; i<timestamps.length; i++) {\n              const d = new Date(timestamps[i]*1000 + 9*60*60*1000);\n              const ds = `${d.getUTCFullYear()}-${String(d.getUTCMonth()+1).padStart(2,'0')}-${String(d.getUTCDate()).padStart(2,'0')}`;\n              if (ds === recDateStr) { startIdx = i; break; }\n          }\n          \n          if (startIdx >= 0) {\n              // Check max high from startIdx to end\n              let maxPrice = 0;\n              for(let i=startIdx; i<highs.length; i++) {\n                  if (highs[i] > maxPrice) maxPrice = highs[i];\n              }\n              const finalPrice = closes[closes.length-1];\n              \n              maxR = (maxPrice - r.entry) / r.entry;\n              finalR = (finalPrice - r.entry) / r.entry;\n          }\n          \n          if (maxR > 0) wins++;\n          totalReturn += maxR;\n          details.push({ ...r, maxReturn: maxR, finalReturn: finalR });\n          await new Promise(resolve => setTimeout(resolve, 200)); // Rate limit\n      } catch(e) {\n          details.push({ ...r, maxReturn: 0, finalReturn: 0 });\n      }\n  }\n  \n  const avgReturn = recs.length > 0 ? (totalReturn / recs.length) : 0;\n  const winRate = recs.length > 0 ? (wins / recs.length) : 0;\n  \n  // Sort by Max Return\n  details.sort((a,b) => b.maxReturn - a.maxReturn);\n  const top3 = details.slice(0, 3);\n\n  let msg = '📊 주간 성과 리포트'+NL+NL+'📅 기간: ' + weekDates[0] + ' ~ ' + weekDates[weekDates.length-1] + NL\n    + '총 ' + recs.length + '건 추천' + NL\n    + '🏆 최고 수익률 평균: ' + pct(avgReturn) + NL\n    + '🎯 익절 성공률: ' + pct(winRate) + NL + NL\n    + '[BEST 3 종목]' + NL;\n    \n  for (const t of top3) {\n      msg += '🥇 ' + t.name + ' (' + t.type + '): 최고 +' + pct(t.maxReturn) + NL;\n  }\n  \n  msg += NL + '면책: 본 리포트는 참고용이며 투자 결과에 책임지지 않습니다.';\n\n  try{ await http({ method:'POST', url:'https://api.telegram.org/bot'+BOT+'/sendMessage', json:true, body:{ chat_id:CHAT, text:msg } }); }catch(e){}\n  return [{ json: { sent:true, count: recs.length, avgReturn, winRate } }];\n};\nreturn run();"
      },
      "id": "7b4a5a4f-99e9-4228-8ac7-654cd344fc1c",
      "name": "Weekly Reporter",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5776,
        2256
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "forceTest"
            },
            {
              "name": "debugMode"
            }
          ]
        },
        "options": {}
      },
      "id": "8e0d20cf-d803-487d-bef1-e4838a16e456",
      "name": "Scalping Config (테스트 모드)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5600,
        1856
      ],
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "forceTest"
            },
            {
              "name": "debugMode"
            }
          ]
        },
        "options": {}
      },
      "id": "d5a8d8a4-3602-4de2-89d9-e2fd55f63c6d",
      "name": "Swing Config (테스트 모드)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5632,
        2048
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "forceTest"
            },
            {
              "name": "debugMode"
            }
          ]
        },
        "options": {}
      },
      "id": "a871be3a-bb23-4b9e-a9af-83f0f469e790",
      "name": "Weekly Config (테스트 모드)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5584,
        2256
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "55 8 * * 1-5"
            }
          ]
        }
      },
      "id": "55ec5e49-533e-4314-ad2a-07d16cc9d5a1",
      "name": "Blacklist Risk Refresh (08:55)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        5008,
        704
      ]
    },
    {
      "parameters": {
        "functionCode": "// ========================================\n// [] Refresh Risk Blacklist -   \n// : 2026-01-21\n// : KRX API    \n// ========================================\n\nconst store = this.getWorkflowStaticData('global');\nif (!store.blacklist) store.blacklist = {};\n\nconst http = async (o) =>\n  await this.helpers.httpRequest(\n    Object.assign(\n      {\n        timeout: 30000,\n      },\n      o\n    )\n  );\n\nconst BOT = '8366696724:AAHROcjGoQEn9BziD-sYdAu3ZuaolwtkgLE';\nconst CHAT = '523002062';\nconst NL = String.fromCharCode(10);\n\n// --- KST date ---\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst today = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth()+1).padStart(2,'0')}-${String(kst.getUTCDate()).padStart(2,'0')}`;\n\n// --- circuit breaker shared with scanners ---\nif (!store.krxState) store.krxState = {};\nif (!store.krxState.alerts) store.krxState.alerts = {};\nconst ks = store.krxState;\nconst nowMs = now.getTime();\n\n//     (3  )\nconst CIRCUIT_RESET_DAYS = 3;\nconst lastFailMs = ks.lastFailAt ? new Date(ks.lastFailAt).getTime() : 0;\nconst daysSinceLastFail = lastFailMs > 0 ? (nowMs - lastFailMs) / (24 * 60 * 60 * 1000) : 999;\n\nif (daysSinceLastFail >= CIRCUIT_RESET_DAYS && ks.circuitUntil) {\n  delete ks.circuitUntil;\n  delete ks.circuitDate;\n  delete ks.lastFailAt;\n  delete ks.lastFailReason;\n  ks.autoResetAt = new Date(nowMs).toISOString();\n  ks.autoResetReason = CIRCUIT_RESET_DAYS + '일 이상 경과로 자동 리셋';\n}\n\nconst circuitUntilMs = ks.circuitUntil ? new Date(ks.circuitUntil).getTime() : 0;\nconst circuitActive = !!(circuitUntilMs && circuitUntilMs > nowMs && ks.circuitDate === today);\n\nconst openCircuit = (reason) => {\n  const until = new Date(nowMs + 30 * 60 * 1000).toISOString();\n  ks.circuitDate = today;\n  ks.circuitUntil = until;\n  ks.lastFailAt = new Date(nowMs).toISOString();\n  ks.lastFailReason = String(reason || 'unknown');\n};\n\nconst notifyOncePerDay = async (key, text) => {\n  const k = String(key || 'default');\n  if (ks.alerts[k] === today) return false;\n  try {\n    await http({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot' + BOT + '/sendMessage',\n      json: true,\n      body: { chat_id: CHAT, text },\n    });\n    ks.alerts[k] = today;\n    return true;\n  } catch (e) {\n    return false;\n  }\n};\n\n// --- keep previous cache ---\nconst prev = {\n  riskCodes: Array.isArray(store.blacklist.riskCodes) ? store.blacklist.riskCodes.slice() : null,\n  riskUpdatedAt: store.blacklist.riskUpdatedAt || null,\n  riskSourceCounts: store.blacklist.riskSourceCounts || null,\n};\n\n\nif (circuitActive) {\n  await notifyOncePerDay(\n    'risk_blacklist_skip_circuit',\n    '[리스크 블랙리스트] 서킷 활성으로 갱신 스킵' + NL + \n    '- date: ' + today + NL + \n    '- circuitUntil: ' + ks.circuitUntil\n  );\n  return [{ json: { ok: false, skipped: true, reason: 'circuit_active', riskUpdatedAt: prev.riskUpdatedAt } }];\n}\n\n// =====     =====\nconst NAVER_HEADERS = {\n  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',\n  'Accept-Language': 'ko-KR,ko;q=0.9,en;q=0.8',\n  'Referer': 'https://finance.naver.com/',\n};\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n\nfunction toText(raw) {\n  if (Buffer.isBuffer(raw)) return raw.toString('utf8');\n  return String(raw ?? '');\n}\n\nasync function fetchNaverAdminStocks() {\n\n  const codes = new Set();\n  \n  const urls = [\n    'https://finance.naver.com/sise/management.naver',           // \n    'https://finance.naver.com/sise/management.naver?sosok=0',   // KOSPI\n    'https://finance.naver.com/sise/management.naver?sosok=1',   // KOSDAQ\n  ];\n  \n  for (const url of urls) {\n    try {\n      const raw = await http({\n        method: 'GET',\n        url,\n        headers: NAVER_HEADERS,\n        json: false,\n      });\n      \n      const text = toText(raw);\n      \n      // code=XXXXXX    \n      const matches = text.matchAll(/code=(\\d{6})/g);\n      for (const m of matches) {\n        codes.add(m[1]);\n      }\n      \n      await sleep(200);\n    } catch (e) {\n      //  URL   \n    }\n  }\n  \n  return [...codes];\n}\n\n// KIND  (   -    )\nasync function fetchKindRealInvestigationCodes() {\n  try {\n    const url = 'https://kind.krx.co.kr/corpgeneral/delistRealInvstg.do';\n    const form = {\n      method: 'searchDelistRealInvstg',\n      forward: 'delistRealInvstg_down',\n      pageIndex: '1',\n      currentPageSize: '3000',\n      mktTpCd: '',\n      progrsDelistYn: '',\n      fromDate: '',\n      toDate: '',\n    };\n\n    const body = Object.entries(form)\n      .map(([k, v]) => encodeURIComponent(k) + '=' + encodeURIComponent(v))\n      .join('&');\n\n    const raw = await http({\n      method: 'POST',\n      url,\n      headers: {\n        'Content-Type': 'application/x-www-form-urlencoded',\n        'Origin': 'https://kind.krx.co.kr',\n        'Referer': 'https://kind.krx.co.kr/corpgeneral/delistRealInvstg.do?method=searchDelistRealInvstgMain',\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n        'Accept-Language': 'ko-KR,ko;q=0.9,en;q=0.8',\n      },\n      body,\n      json: false,\n    });\n\n    const text = Buffer.isBuffer(raw) ? raw.toString('latin1') : String(raw);\n    const set = new Set();\n    for (const m of text.matchAll(/mso-number-format:'@'[^>]*>\\s*(\\d{6})\\s*<\\/td>/g)) {\n      set.add(m[1]);\n    }\n    return [...set];\n  } catch (e) {\n    return [];\n  }\n}\n\ntry {\n  const codes = new Set();\n  const sourceCounts = {};\n\n  // 1.   \n  const naverAdminCodes = await fetchNaverAdminStocks();\n  sourceCounts['Naver:adminStocks'] = naverAdminCodes.length;\n  for (const c of naverAdminCodes) codes.add(c);\n\n  // 2. KIND  (best-effort)\n  const kindCodes = await fetchKindRealInvestigationCodes();\n  sourceCounts['KIND:realInvestigation'] = kindCodes.length;\n  for (const c of kindCodes) codes.add(c);\n\n  //  1    \n  if (codes.size === 0 && prev.riskCodes && prev.riskCodes.length > 0) {\n    await notifyOncePerDay(\n      'risk_blacklist_empty_keep_cache',\n      '[리스크 블랙리스트] 신규 데이터 0건 - 기존 캐시 유지' + NL +\n      '- 기존 캐시: ' + prev.riskCodes.length + '개' + NL +\n      '- 마지막 갱신: ' + prev.riskUpdatedAt\n    );\n    return [{ json: { ok: true, keptCache: true, riskCodesCount: prev.riskCodes.length, riskUpdatedAt: prev.riskUpdatedAt } }];\n  }\n\n  store.blacklist.riskCodes = [...codes].sort();\n  store.blacklist.riskUpdatedAt = new Date().toISOString();\n  store.blacklist.riskSourceCounts = sourceCounts;\n  store.blacklist.riskSource = 'Naver+KIND';\n\n\n  delete store.blacklist.riskLastError;\n\n\n  await notifyOncePerDay(\n    'risk_blacklist_success',\n    '[리스크 블랙리스트 갱신 성공]' + NL +\n    '- 총 ' + store.blacklist.riskCodes.length + '개 종목' + NL +\n    '- 네이버: ' + naverAdminCodes.length + '개' + NL +\n    '- KIND: ' + kindCodes.length + '개' + NL +\n    '- 갱신 시간: ' + store.blacklist.riskUpdatedAt\n  );\n\n  return [\n    {\n      json: {\n        ok: true,\n        riskCodesCount: store.blacklist.riskCodes.length,\n        riskSourceCounts: sourceCounts,\n        riskUpdatedAt: store.blacklist.riskUpdatedAt,\n        source: 'Naver+KIND',\n      },\n    },\n  ];\n} catch (e) {\n  const msg = e?.message ? String(e.message) : String(e);\n  openCircuit(msg);\n  store.blacklist.riskLastError = { at: new Date().toISOString(), message: msg };\n  \n\n  if (prev.riskCodes) store.blacklist.riskCodes = prev.riskCodes;\n  if (prev.riskUpdatedAt) store.blacklist.riskUpdatedAt = prev.riskUpdatedAt;\n  if (prev.riskSourceCounts) store.blacklist.riskSourceCounts = prev.riskSourceCounts;\n\n  await notifyOncePerDay('risk_blacklist_fail', '[리스크 블랙리스트 갱신 실패]' + NL + msg);\n  return [{ json: { ok: false, error: msg, riskUpdatedAt: store.blacklist.riskUpdatedAt || null } }];\n}\n"
      },
      "id": "fe0aa5a0-d801-4c06-b4ad-b22e68e23682",
      "name": "Refresh Risk Blacklist (KRX+KIND)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5360,
        704
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "30 8 * * 6"
            }
          ]
        }
      },
      "id": "3b97eca3-904a-4642-8ea5-fb67ac9bae94",
      "name": "Blacklist Theme Refresh (Sat 08:30)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        5008,
        960
      ]
    },
    {
      "parameters": {
        "functionCode": "const store = this.getWorkflowStaticData('global');\nif (!store.blacklist) store.blacklist = {};\n\nconst http = async (o) =>\n  await this.helpers.httpRequest(\n    Object.assign(\n      {\n        timeout: 30000,\n      },\n      o\n    )\n  );\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n\nfunction toText(raw) {\n  if (Buffer.isBuffer(raw)) return raw.toString('utf8');\n  return String(raw ?? '');\n}\n\nasync function fetchText(url, referer) {\n  const raw = await http({\n    method: 'GET',\n    url,\n    headers: {\n      'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',\n      Referer: referer || 'https://finance.naver.com/',\n      'Accept-Language': 'ko-KR,ko;q=0.9,en;q=0.8',\n    },\n    json: false,\n  });\n  return toText(raw);\n}\n\nasync function fetchTextRetry(url, referer, tries = 2) {\n  let lastErr;\n  for (let i = 0; i < tries; i++) {\n    try {\n      return await fetchText(url, referer);\n    } catch (e) {\n      lastErr = e;\n      await sleep(300 + i * 500);\n    }\n  }\n  throw lastErr;\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr)];\n}\n\nfunction extractThemeNos(html) {\n  // /sise/sise_group_detail.naver?type=theme&no=584\n  return uniq([...html.matchAll(/sise_group_detail\\.naver\\?type=theme&no=(\\d+)/g)].map((m) => m[1]));\n}\n\nfunction extractCodes(html) {\n  // /item/main.naver?code=005930\n  return uniq([...html.matchAll(/code=(\\d{6})/g)].map((m) => m[1]));\n}\n\nasync function mapLimit(list, limit, worker) {\n  const results = [];\n  const errors = [];\n  let idx = 0;\n\n  const runners = new Array(Math.min(limit, list.length)).fill(0).map(async () => {\n    while (idx < list.length) {\n      const i = idx++;\n      try {\n        results[i] = await worker(list[i], i);\n      } catch (e) {\n        errors.push({ i, item: list[i], message: e?.message || String(e) });\n        results[i] = null;\n      }\n    }\n  });\n\n  await Promise.all(runners);\n  return { results, errors };\n}\n\n// ======  (/  ) ======\nconst MAX_LIST_PAGES = 20;\nconst CONCURRENCY = 6;         //      ( 3 )\nconst DETAIL_SLEEP_MS = 120;   //      ( )\nconst LIST_SLEEP_MS = 120;\n// =====================================================\n\nconst startTs = Date.now();\nconst baseList = 'https://finance.naver.com/sise/theme.naver';\nconst listReferer = 'https://finance.naver.com/sise/theme.naver';\n\n// 1)  no  \nconst html1 = await fetchTextRetry(`${baseList}?&page=1`, listReferer, 2);\nlet themeNos = extractThemeNos(html1);\n\nif (themeNos.length === 0) {\n  return [\n    {\n      json: {\n        ok: false,\n        reason: 'No theme no found on list page (expected type=theme&no=###)',\n        lenUtf8: html1.length,\n        snippet: html1.slice(0, 1200),\n      },\n    },\n  ];\n}\n\n\nconst pagesFound = uniq([...html1.matchAll(/page=(\\d+)/g)].map((m) => Number(m[1]) || 1)).filter((n) => n >= 1);\nlet maxPage = pagesFound.length ? Math.max(...pagesFound) : MAX_LIST_PAGES;\nmaxPage = Math.min(maxPage, MAX_LIST_PAGES);\n\nconst allNos = new Set(themeNos);\nlet stoppedEarlyAtPage = null;\n\nfor (let p = 2; p <= maxPage; p++) {\n  await sleep(LIST_SLEEP_MS);\n  const html = await fetchTextRetry(`${baseList}?&page=${p}`, listReferer, 2);\n  const nos = extractThemeNos(html);\n\n  let added = 0;\n  for (const no of nos) {\n    if (!allNos.has(no)) {\n      allNos.add(no);\n      added++;\n    }\n  }\n\n  if (added === 0 && p >= 3) {\n    stoppedEarlyAtPage = p;\n    break;\n  }\n}\n\nthemeNos = [...allNos].sort((a, b) => Number(a) - Number(b));\n\n// 2)    ()\nconst codeSet = new Set();\nconst detailErrors = [];\n\nconst detailReferer = 'https://finance.naver.com/sise/theme.naver';\nconst { errors } = await mapLimit(themeNos, CONCURRENCY, async (no) => {\n  await sleep(DETAIL_SLEEP_MS);\n  const url = `https://finance.naver.com/sise/sise_group_detail.naver?type=theme&no=${no}`;\n  const html = await fetchTextRetry(url, detailReferer, 2);\n  const codes = extractCodes(html);\n  for (const c of codes) codeSet.add(c);\n  return { no, codesCount: codes.length };\n});\n\nif (errors.length) detailErrors.push(...errors);\n\n// 3)  + \nconst themeCodes = [...codeSet].sort();\n\nstore.blacklist.themeCodes = themeCodes;\nstore.blacklist.themeUpdatedAt = new Date().toISOString();\nstore.blacklist.themeNosCount = themeNos.length;\nstore.blacklist.themeSource = 'naver:sise_group_detail';\nstore.blacklist.themeFetchStats = {\n  stoppedEarlyAtPage,\n  maxPageTried: maxPage,\n  concurrency: CONCURRENCY,\n  detailErrors: detailErrors.length,\n  ms: Date.now() - startTs,\n};\n\nreturn [\n  {\n    json: {\n      ok: true,\n      done: true,\n      themeNosCount: themeNos.length,\n      themeCodesCount: themeCodes.length,\n      themeUpdatedAt: store.blacklist.themeUpdatedAt,\n      stats: store.blacklist.themeFetchStats,\n      sampleCodes: themeCodes.slice(0, 20),\n      detailErrors: detailErrors.slice(0, 10),\n    },\n  },\n];"
      },
      "id": "9b1eabf8-4311-43ee-8703-59ad0387cffe",
      "name": "Refresh Theme Blacklist (Naver)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5360,
        960
      ]
    },
    {
      "parameters": {
        "functionCode": "const HOLIDAYS = [\"2025-01-01\", \"2025-01-28\", \"2025-01-29\", \"2025-01-30\", \"2025-03-01\", \"2025-03-03\", \"2025-05-05\", \"2025-05-06\", \"2025-06-06\", \"2025-08-15\", \"2025-10-03\", \"2025-10-06\", \"2025-10-07\", \"2025-10-08\", \"2025-10-09\", \"2025-12-25\", \"2026-01-01\", \"2026-02-16\", \"2026-02-17\", \"2026-02-18\", \"2026-03-01\", \"2026-03-02\", \"2026-05-05\", \"2026-05-24\", \"2026-05-25\", \"2026-06-03\", \"2026-06-06\", \"2026-07-17\", \"2026-08-15\", \"2026-08-17\", \"2026-09-24\", \"2026-09-25\", \"2026-09-26\", \"2026-10-03\", \"2026-10-05\", \"2026-10-09\", \"2026-12-25\"];\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst today = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth() + 1).padStart(2, '0')}-${String(kst.getUTCDate()).padStart(2, '0')}`;\nconst dayOfWeek = kst.getUTCDay();\n\n// Check if today is a holiday\nif (HOLIDAYS.includes(today)) {\n  return [];\n}\n\n// Check if Sunday (0)\nif (dayOfWeek === 0) {\n  return [];\n}\n\n// Pass through - not a holiday/Sunday\nreturn $input.all();\n"
      },
      "id": "e86af425-7369-4e8c-8e0f-e72118779c1c",
      "name": "Holiday Gate (Scalping Trigger)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5616,
        1856
      ],
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "const HOLIDAYS = [\"2025-01-01\", \"2025-01-28\", \"2025-01-29\", \"2025-01-30\", \"2025-03-01\", \"2025-03-03\", \"2025-05-05\", \"2025-05-06\", \"2025-06-06\", \"2025-08-15\", \"2025-10-03\", \"2025-10-06\", \"2025-10-07\", \"2025-10-08\", \"2025-10-09\", \"2025-12-25\", \"2026-01-01\", \"2026-02-16\", \"2026-02-17\", \"2026-02-18\", \"2026-03-01\", \"2026-03-02\", \"2026-05-05\", \"2026-05-24\", \"2026-05-25\", \"2026-06-03\", \"2026-06-06\", \"2026-07-17\", \"2026-08-15\", \"2026-08-17\", \"2026-09-24\", \"2026-09-25\", \"2026-09-26\", \"2026-10-03\", \"2026-10-05\", \"2026-10-09\", \"2026-12-25\"];\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst today = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth() + 1).padStart(2, '0')}-${String(kst.getUTCDate()).padStart(2, '0')}`;\nconst dayOfWeek = kst.getUTCDay();\n\n// Check if today is a holiday\nif (HOLIDAYS.includes(today)) {\n  return [];\n}\n\n// Check if Sunday (0)\nif (dayOfWeek === 0) {\n  return [];\n}\n\n// Pass through - not a holiday/Sunday\nreturn $input.all();\n"
      },
      "id": "93dd5b00-5f2a-47ba-b1cd-992380322365",
      "name": "Holiday Gate (Daily Healthcheck Trigger)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5632,
        1648
      ]
    },
    {
      "parameters": {
        "functionCode": "const HOLIDAYS = [\"2025-01-01\", \"2025-01-28\", \"2025-01-29\", \"2025-01-30\", \"2025-03-01\", \"2025-03-03\", \"2025-05-05\", \"2025-05-06\", \"2025-06-06\", \"2025-08-15\", \"2025-10-03\", \"2025-10-06\", \"2025-10-07\", \"2025-10-08\", \"2025-10-09\", \"2025-12-25\", \"2026-01-01\", \"2026-02-16\", \"2026-02-17\", \"2026-02-18\", \"2026-03-01\", \"2026-03-02\", \"2026-05-05\", \"2026-05-24\", \"2026-05-25\", \"2026-06-03\", \"2026-06-06\", \"2026-07-17\", \"2026-08-15\", \"2026-08-17\", \"2026-09-24\", \"2026-09-25\", \"2026-09-26\", \"2026-10-03\", \"2026-10-05\", \"2026-10-09\", \"2026-12-25\"];\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst today = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth() + 1).padStart(2, '0')}-${String(kst.getUTCDate()).padStart(2, '0')}`;\nconst dayOfWeek = kst.getUTCDay();\n\n// Check if today is a holiday\nif (HOLIDAYS.includes(today)) {\n  return [];\n}\n\n// Check if Sunday (0)\nif (dayOfWeek === 0) {\n  return [];\n}\n\n// Pass through - not a holiday/Sunday\nreturn $input.all();\n"
      },
      "id": "aeef6a19-9dd2-4c26-a780-0e7f6d19ff9e",
      "name": "Holiday Gate (Swing Trigger)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5488,
        2048
      ]
    },
    {
      "parameters": {
        "functionCode": "const HOLIDAYS = [\"2025-01-01\", \"2025-01-28\", \"2025-01-29\", \"2025-01-30\", \"2025-03-01\", \"2025-03-03\", \"2025-05-05\", \"2025-05-06\", \"2025-06-06\", \"2025-08-15\", \"2025-10-03\", \"2025-10-06\", \"2025-10-07\", \"2025-10-08\", \"2025-10-09\", \"2025-12-25\", \"2026-01-01\", \"2026-02-16\", \"2026-02-17\", \"2026-02-18\", \"2026-03-01\", \"2026-03-02\", \"2026-05-05\", \"2026-05-24\", \"2026-05-25\", \"2026-06-03\", \"2026-06-06\", \"2026-07-17\", \"2026-08-15\", \"2026-08-17\", \"2026-09-24\", \"2026-09-25\", \"2026-09-26\", \"2026-10-03\", \"2026-10-05\", \"2026-10-09\", \"2026-12-25\"];\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst today = `${kst.getUTCFullYear()}-${String(kst.getUTCMonth() + 1).padStart(2, '0')}-${String(kst.getUTCDate()).padStart(2, '0')}`;\nconst dayOfWeek = kst.getUTCDay();\n\n// Check if today is a holiday\nif (HOLIDAYS.includes(today)) {\n  return [];\n}\n\n// Check if Sunday (0)\nif (dayOfWeek === 0) {\n  return [];\n}\n\n// Pass through - not a holiday/Sunday\nreturn $input.all();\n"
      },
      "id": "db46def8-f25d-4f48-bf40-3ea79a494bb2",
      "name": "Holiday Gate (Blacklist Risk Refresh)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5184,
        704
      ]
    }
  ],
  "connections": {
    "Daily Healthcheck Trigger (09:00)": {
      "main": [
        [
          {
            "node": "Holiday Gate (Daily Healthcheck Trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scalping Config (테스트 모드)": {
      "main": [
        [
          {
            "node": "Scalping Scanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Swing Config (테스트 모드)": {
      "main": [
        [
          {
            "node": "Swing Scanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger (Sat 10:00)": {
      "main": [
        [
          {
            "node": "Weekly Config (테스트 모드)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Config (테스트 모드)": {
      "main": [
        [
          {
            "node": "Weekly Reporter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blacklist Risk Refresh (08:55)": {
      "main": [
        [
          {
            "node": "Holiday Gate (Blacklist Risk Refresh)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scalping Trigger (10분)": {
      "main": [
        [
          {
            "node": "Holiday Gate (Scalping Trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Holiday Gate (Scalping Trigger)": {
      "main": [
        [
          {
            "node": "Scalping Config (테스트 모드)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Holiday Gate (Daily Healthcheck Trigger)": {
      "main": [
        [
          {
            "node": "Daily Healthcheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Holiday Gate (Swing Trigger)": {
      "main": [
        [
          {
            "node": "Swing Config (테스트 모드)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Holiday Gate (Blacklist Risk Refresh)": {
      "main": [
        [
          {
            "node": "Refresh Risk Blacklist (KRX+KIND)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Swing Trigger (09:30)": {
      "main": [
        [
          {
            "node": "Holiday Gate (Swing Trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blacklist Theme Refresh (Sat 08:30)": {
      "main": [
        [
          {
            "node": "Refresh Theme Blacklist (Naver)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Seoul",
    "saveManualExecutions": true,
    "availableInMCP": false
  },
  "meta": null,
  "pinData": {}
}